@use "./vars.scss" as *;
@use "./mixins.scss" as *;

// html {
//   height: 100%;
// }

// body {
//   height: 100%;
// }

// main {
//   height: 100%;
// }

html,
body {
  min-height: 100vh;
  height: auto;
}

main {
  min-height: 100vh;
  height: auto;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include laptop {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include desktop {
    padding-right: 40px;
    padding-left: 40px;
  }

  &--mobile {
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      padding-right: 24px;
      padding-left: 24px;
    }

    @include laptop {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

#bingc-phone-button {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
