@use "./vars.scss" as *;
@use "./mixins.scss" as *;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  box-sizing: border-box;
}

main {
  height: 100%;
  box-sizing: border-box;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include laptop {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include desktop {
    padding-right: 40px;
    padding-left: 40px;
  }

  &--mobile {
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      padding-right: 24px;
      padding-left: 24px;
    }

    @include laptop {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

#bingc-phone-button {
  display: none !important;
}

.general-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background-color: $brown;
  border: 1px solid $brown;
  padding: vw-laptop(18) vw-laptop(28);
  position: relative;
  overflow: hidden;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    border-radius: inherit;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(-110%) translateZ(0);
    transform: translateX(-110%) translateZ(0);
  }

  &:hover {
    &::before {
      transform: translateX(0) translateZ(0);
    }

    .general-text {
      @include font-h4-semibold;
      color: $black;
    }
  }

  @media screen and (min-width: 1512px) {
    padding: 18px 28px;
  }

  .general-text {
    @include font-h4-semibold;
    color: $white;
    transition: all 0.5s ease;
    position: relative;
    z-index: 3;
  }
}
