//Montserrat

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v31-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v31-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v31-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v31-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v31-cyrillic_latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v31-cyrillic_latin-900.woff2") format("woff2");
}

//Fixel Display

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayThin.woff2") format("woff2"),
    url("../fonts/FixelDisplayThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayExtraLight.woff2") format("woff2"),
    url("../fonts/FixelDisplayExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayLight.woff2") format("woff2"),
    url("../fonts/FixelDisplayLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayRegular.woff2") format("woff2"),
    url("../fonts/FixelDisplayRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayMedium.woff2") format("woff2"),
    url("../fonts/FixelDisplayMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplaySemiBold.woff2") format("woff2"),
    url("../fonts/FixelDisplaySemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayBold.woff2") format("woff2"),
    url("../fonts/FixelDisplayBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayExtraBold.woff2") format("woff2"),
    url("../fonts/FixelDisplayExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "FixelDisplay";
  font-display: swap;
  src:
    url("../fonts/FixelDisplayBlack.woff2") format("woff2"),
    url("../fonts/FixelDisplayBlack.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

//CenturyGothic

@font-face {
  font-display: swap;
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CenturyGothic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
}
