@use "./vars.scss" as *;

@mixin font-face($font-family, $url, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: "#{$font-family}";
    font-style: "#{$style}";
    font-weight: #{$weight};
    src: url("#{$url}.eot");
    src:
      url("#{$url}.eot?#iefix") format("embedded-opentype"),
      url("#{$url}.woff") format("woff"),
      url("#{$url}.ttf") format("truetype");
  }
}

// Function for converting a px based font-size to rem.
@function rem($size) {
  $remSize: $size / 14px;

  @return #{$remSize}rem;
}

@mixin toh($max_height) {
  @media screen and (max-height: $max_height) {
    @content;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@function vw($px) {
  @return calc($px / 1920) * 100vw;
}

@function vw-laptop($px) {
  @return calc($px / 1512) * 100vw;
}

@function vmax($pixels, $context: $full-width) {
  @return #{($pixels/$context) * 100}vmax;
}

@function lh($lh, $fz) {
  @return #{($lh/$fz)}em;
}

@mixin laptop-1512 {
  @media screen and (min-width: 1512px) {
    @content;
  }
}

@mixin to-desktop() {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

@mixin to-laptop() {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin to-tablet() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (width >= 768px) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (width >= 1024px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (width >= 1920px) {
    @content;
  }
}

@mixin super-title() {
  font-family: $default-font-2;
  font-size: 17vw;
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
  color: $white;
  letter-spacing: -0.06em;
  text-decoration: none;

  @include tablet {
    font-size: 12.5vw;
  }

  @include laptop {
    font-size: vw(180);
  }
}

@mixin section-title() {
  font-family: $default-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  text-decoration: none;

  @include tablet {
    font-size: clamp(32px, calc(32px + (48 - 32) * ((100vw - 768px) / (1366 - 768))), 48px);
  }

  @include laptop {
    font-size: vw(48);
  }
}

@mixin article-title() {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: $white;
  letter-spacing: -0.03em;

  @include tablet {
    font-size: 32px;
  }

  @include laptop {
    font-size: vw(32);
  }
}

@mixin block-subtitle() {
  font-family: $default-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: $teal-deep;
  letter-spacing: -0.03em;

  @include tablet {
    font-size: 24px;
  }

  @include laptop {
    font-size: vw(24);
  }
}

@mixin page-subtitle() {
  font-family: $default-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-decoration: none;

  @include tablet {
    font-size: 64px;
    line-height: 100%;
  }

  @include laptop {
    font-size: 3.33vw;
  }
}

@mixin general-text() {
  font-family: $default-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: none;
  letter-spacing: -0.03em;
  text-decoration: none;

  @include tablet {
    font-size: 16px;
  }

  @include laptop {
    font-size: vw(16);
    font-size: clamp(12px, calc(12px + (18 - 12) * ((100vw - 1024px) / (1920 - 1024))), 16px);
  }
}

@mixin tiny-text() {
  font-family: $default-font;
  font-size: vw-laptop(14);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.06em;
  text-decoration: none;

  @include laptop-1512 {
    font-size: 14px;
  }
}

@mixin text-12() {
  font-family: $default-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: $teal-deep;
  letter-spacing: -0.72px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  text-decoration-thickness: auto;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-underline-position: from-font;
  text-underline-offset: auto;
}

@mixin text-24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: $teal-deep;
  letter-spacing: -0.06em;
}

// wmisto mixins

@mixin font-h1 {
  font-family: $default-font-2;
  font-size: vw(60);
  font-size: vw(100);
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 100px */
  letter-spacing: -6px;
  text-transform: uppercase;
}

@mixin font-h2 {
  font-family: $default-font-2;
  font-size: vw(60);
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 60px */
  letter-spacing: -3.6px;
}

@mixin font-h3 {
  font-family: $default-font;
  font-size: vw(36);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -1.16px;
}

@mixin font-h4-semibold {
  font-family: $default-font;
  font-size: vw(20);
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: -0.8px;
}

@mixin font-h4-regular {
  font-family: $default-font;
  font-size: vw-laptop(20);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.8px;

  @include laptop-1512 {
    font-size: 20px;
  }
}

@mixin font-body {
  font-family: $default-font;
  font-size: vw-laptop(16);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.64px;

  @include laptop-1512 {
    font-size: 16px;
  }
}

@mixin font-hero {
  color: $black;
  font-family: $default-font-2;
  font-size: vw(60);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -3.6px;
}

@mixin font-huge {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $black;
  font-family: $default-font;
  font-size: vw(200);
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 160px */
  letter-spacing: -12px;
}

@mixin font-tiny {
  font-family: $default-font;
  font-size: vw-laptop(14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.56px;

  @include laptop-1512() {
    font-size: 14px;
  }
}

// !YARKOVYTSYA

@mixin text-style-1920-h-1() {
  font-size: 120px;
  @media screen and (min-width: 1025px) {
    font-size: Min(120px, pxWidthInVw(120));
  }
  font-family: Inter Tight;
  font-weight: 500;
  font-style: normal;
  line-height: 90%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-1920-h-2() {
  font-size: 60px;
  @media screen and (min-width: 1025px) {
    font-size: Min(60px, pxWidthInVw(60));
  }
  font-family: Inter Tight;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-1920-h-3() {
  font-size: 36px;
  @media screen and (min-width: 1025px) {
    font-size: Min(36px, pxWidthInVw(36));
  }
  font-family: Inter Tight;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-1920-h-4() {
  font-size: 24px;
  @media screen and (min-width: 1025px) {
    font-size: Min(24px, pxWidthInVw(24));
  }
  font-family: Inter Tight;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-1920-body() {
  font-size: 16px;
  @media screen and (min-width: 1025px) {
    font-size: Min(16px, pxWidthInVw(16));
  }
  font-family: Inter Tight;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-1920-tiny() {
  font-size: 12px;
  font-family: Inter Tight;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-1920-decorative() {
  font-size: 100px;
  @media screen and (min-width: 1025px) {
    font-size: Min(100px, pxWidthInVw(100));
  }
  font-family: Comforter;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-768-h-1() {
  @media screen and (max-width: 1024px) {
    font-size: 60px;
    font-family: Inter Tight;
    font-weight: 500;
    font-style: normal;
    line-height: 90%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-768-h-2() {
  @media screen and (max-width: 1024px) {
    font-size: 48px;
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-768-h-3() {
  @media screen and (max-width: 1024px) {
    font-size: 24px;
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-768-h-4() {
  @media screen and (max-width: 1024px) {
    font-size: 20px;
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-768-decorative() {
  @media screen and (max-width: 1024px) {
    font-size: 64px;
    font-family: Comforter;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-375-h-1() {
  @media screen and (max-width: 600px) {
    font-size: 40px;
    font-family: Inter Tight;
    font-weight: 500;
    font-style: normal;
    line-height: 90%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-375-h-2() {
  @media screen and (max-width: 600px) {
    font-size: 28px;
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-375-h-3() {
  @media screen and (max-width: 600px) {
    font-size: 20px;
    font-family: Inter Tight;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
  }
}
@mixin text-style-375-decorative() {
  @media screen and (max-width: 600px) {
    font-size: 40px;
    font-family: Comforter;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
  }
}

.text-style-1920-h-1 {
  @include text-style-1920-h-1;
}
.text-style-1920-h-2 {
  @include text-style-1920-h-2;
}
.text-style-1920-h-3 {
  @include text-style-1920-h-3;
}
.text-style-1920-h-4 {
  @include text-style-1920-h-4;
}
.text-style-1920-body {
  @include text-style-1920-body;
}
.text-style-1920-tiny {
  @include text-style-1920-tiny;
}
.text-style-1920-decorative {
  @include text-style-1920-decorative;
}
.text-style-768-h-1 {
  @include text-style-768-h-1;
}
.text-style-768-h-2 {
  @include text-style-768-h-2;
}
.text-style-768-h-3 {
  @include text-style-768-h-3;
}
.text-style-768-h-4 {
  @include text-style-768-h-4;
}
.text-style-768-decorative {
  @include text-style-768-decorative;
}
.text-style-375-h-1 {
  @include text-style-375-h-1;
}
.text-style-375-h-2 {
  @include text-style-375-h-2;
}
.text-style-375-h-3 {
  @include text-style-375-h-3;
}
.text-style-375-decorative {
  @include text-style-375-decorative;
}

@function vh_calc($px) {
  @return calc($px / 1920) * 100vh;
}
