$default-font: "FixelDisplay", sans-serif;
$default-font-2: "Montserrat", sans-serif;
$default-font-3: "CenturyGothic", sans-serif;

$wc: #f6f6f6;
$text-color: #f6f6f6;
$bg-color: #221a22;
$accent-color: #322a32;
$white: #fff;
$navy-dark: #14293e;
$teal-deep: #0a4b4f;
$sky-light: #9fbac7;

$white: #f5f6f1;
$black: #000;
$blue: #8897b4;
$brown: #5a4f53;
$ochre: #d4d1ca;

$сharcoal: #3b3b3b;
$cream: #fefbd8;
$wine: #4a2530;
$powder-blue: #d4e8ec;
$khaki: #7d7a62;

$full-width: 1200;
$work-width: 80;
$screen-height: 720;

:root {
  /* Color styles */
  --white: #e9f6fb;
  --black: #0e0f10;
  --blue-header: #5cb5e0cc;
  --blue-layout: #5cb5e0e6;
  --blue: #5cb5e0;
  --light: #a2bdca;
  --dark: #323235;

  // --------------------------------
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  /* Text-size styles */
}
