$default-font: "FixelDisplay", sans-serif;
$default-font-2: "Montserrat", sans-serif;
$default-font-3: "CenturyGothic", sans-serif;

$wc: #f6f6f6;
$text-color: #f6f6f6;
$bg-color: #221a22;
$accent-color: #322a32;
$white: #fff;
$navy-dark: #14293e;
$teal-deep: #0a4b4f;
$sky-light: #9fbac7;

$white: #f5f6f1;
$black: #000;
$blue: #8897b4;
$brown: #5a4f53;
$ochre: #d4d1ca;

$сharcoal: #3b3b3b;
$cream: #fefbd8;
$wine: #4a2530;
$powder-blue: #d4e8ec;
$khaki: #7d7a62;

$full-width: 1200;
$work-width: 80;
$screen-height: 720;

$transition: all 0.5s cubic-bezier(0.36, 1, 0.86, 1);
