.choose-real-estate {
  height: calc(100vh - 100px);
  padding-top: vw(100);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include to(1023px) {
    padding-top: 100px;
    height: auto;
  }

  .choose-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: vw(20);
    padding: 0 vw(20);

    @include to(1023px) {
      flex-direction: column;
      align-items: start;
      gap: 20px;
      margin-bottom: 20px;
    }

    .choose-title {
      @include font-h1;
      color: $brown;
    }
  }

  .choose-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.9fr 0.9fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "one-room two-room three-room fountain fountain"
      "one-room two-room three-room terrace penthouse";
    gap: 0;
    flex-grow: 1;
    min-height: 0;
    border-top: 1px solid $black;
    border-left: 1px solid $black;

    @include to(1023px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        "one-room one-room"
        "two-room two-room"
        "three-room three-room"
        "fountain fountain"
        "terrace penthouse";
    }

    @include to(767px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
        "one-room one-room"
        "two-room two-room"
        "three-room three-room"
        "fountain fountain"
        "terrace terrace"
        "penthouse penthouse";
    }

    .grid-link {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
      position: relative;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      padding: vw(20);

      @include to(1023px) {
        min-height: 280px;
        padding: 20px;
      }

      @include to(767px) {
        min-height: unset;
        aspect-ratio: 16/9;
        padding: 8px;
      }

      &:hover {
        .grid-item-image {
          transform: scale(1.05);
        }
      }

      &.item-1 {
        grid-area: one-room;
      }
      &.item-2 {
        grid-area: two-room;
      }
      &.item-3 {
        grid-area: three-room;
      }
      &.item-4 {
        grid-area: fountain;
      }
      &.item-5 {
        grid-area: terrace;
      }
      &.item-6 {
        grid-area: penthouse;
      }

      &:nth-child(-n + 3) {
        .grid-item-title {
          color: $black;
        }
      }
      &:nth-child(n + 4) {
        .grid-item-title {
          color: $white;
        }
      }
    }

    .grid-item {
      height: 100%;
      width: 100%;
    }

    .grid-item-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      padding: vw(20);

      @include to(1023px) {
        flex-direction: column-reverse;
      }

      .grid-item-title {
        @include font-h3;
        margin: 0;
      }

      .grid-item-area {
        @include font-h4-semibold;
        color: $black;
        padding: vw(2) vw(12);
        background-color: $white;
        border-radius: 100px;
        width: fit-content;
        margin: 0;

        @include to(1023px) {
          padding: 2px 12px;
        }
      }

      .grid-item-image-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;

        .grid-item-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          will-change: transform;
          transition: $transition-long;

          @include to(1023px) {
            object-position: center 56%;
          }
        }
      }
    }
  }
}
