.footer {
  padding: 0 vw(20);

  .footer-privacy-policy {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .privacy-site-text-block {
      display: flex;
      align-items: center;
      gap: vw(12);

      .privacy-text {
        @include font-body;
        color: $black;
      }
    }

    .up-link-dev-logo-block {
      display: flex;
      align-items: center;
      gap: vw(260);
    }

    .up-link {
      display: flex;
      align-items: center;
      gap: vw(12);

      .up-icon-wrapper {
        border-radius: 50%;
        border: 1px solid $black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(64);
        height: vw(64);

        .up-icon {
          width: vw(24);
          height: vw(24);
          flex-shrink: 0;
          transform: rotate(180deg);
        }
      }

      .up-link-text {
        @include font-body;
        color: $black;
      }
    }
  }

  .dev-logo {
    bottom: 0;
    right: 0;
    width: 44px;
    height: 40px;
  }
}
