.news-item {
  padding: 0 vw(20);
  border-right: 1px solid $black;
  overflow: hidden;
  height: vw(600);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include to(1023px) {
    height: auto;
    padding: 0 40px 20px;
    border-bottom: 1px solid $black;

    &:last-child {
      border-bottom-color: transparent;
    }
  }

  @include to(767px) {
    padding: 0 0 20px;
    border-right-color: transparent;
  }

  &:hover {
    .news-link {
      .news-image-block {
        &::before {
          transform: scaleY(0);
        }
      }

      .news-icon-date-block {
        .news-icon-block {
          background-color: $brown;

          .news-icon {
            stroke: $white;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .news-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .news-icon-date-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: vw(40);

      @include to(1023px) {
        margin-bottom: 8px;
      }

      .news-icon-block {
        width: vw(44);
        height: vw(44);
        border-radius: 50%;
        border: 1px solid $black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        transition: $transition;

        @include to(1023px) {
          width: 44px;
          height: 44px;
        }

        .news-icon {
          stroke: $black;
          transition: $transition;
        }
      }

      .news-date {
        @include font-h4-regular;
        color: $black;
      }
    }

    .news-title {
      @include font-h3;
      color: $brown;
      text-align: left;
      margin-bottom: vw(40);

      @include to(1023px) {
        margin-bottom: 40px;
      }

      @include to(767px) {
        margin-bottom: 20px;
      }
    }

    .news-image-block {
      margin-top: auto;
      aspect-ratio: 600/300;
      overflow: hidden;
      min-height: vw(300);
      position: relative;

      @include to(1023px) {
        aspect-ratio: 728 / 372;
        width: 100%;
        min-height: unset;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 50%;
        background-color: $white;
        z-index: 1;
        transform-origin: top;
        transition: $transition;
        will-change: transform;

        @include to(1023px) {
          display: none;
        }
      }

      .news-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        will-change: transform;
        transition: $transition;
      }
    }
  }
}
