include ../../shared/components/general-btn/general-btn.pug

mixin form(attr)
  .form-wrapper(data-form-wrapper)
    form(data-form=attr autocomplete="off" contact-form-js).form
      .inputs-wrapper

        //- Поле: Ім'я
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
          .form-field__required 
            svg: use(href="./icons.svg#Required")
          input(type='text' name="name" placeholder="Ім’я").form-field__input
          .input-message(data-input-message)

        //- Поле: Телефон
        .form-field.form-field-input(data-field-input data-field-phone data-status="field--inactive")
          .form-field__required 
            svg: use(href="./icons.svg#Required")
          input(type='text' name="phone" placeholder="Телефон").form-field__input
          .input-message(data-input-message)

        //- Поле: Email
        .form-field.form-field-input(data-field-input data-field-email data-status="field--inactive")
          input(type='email' name="email" placeholder="Email").form-field__input
          .input-message(data-input-message)

      .form__button-wrapper
        +general-btn('submit', "Надіслати повідомлення")(data-btn-submit)