mixin form(attr)
	.form-wrapper(data-form-wrapper)
		//- .form-close(data-close-form)
		//- 	<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
		//- 	<path d="M25 25L1 1M1 25L25 1L1 25Z" stroke-width="2"/>
		//- 	</svg>
		form(data-form=attr autocomplete="off" contact-form-js).form
			//- .form-title.text-style-h-3.text-black Замовити дзвінок
			//- .form-description.text-style-body Залишіть контактні дані і ми обов'язково зв'яжемося з вами
			.inputs-wrapper
				.form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
					.form-field__required 
						svg 
							use(href="./icons.svg#Required")
					//- .input-title Ім’я
					input(type='text' name="name" placeholder="Ім’я").form-field__input
					.input-message(data-input-message)
				.form-field.form-field-input(data-field-input data-field-phone data-status="field--inactive")
					.form-field__required 
						svg 
							use(href="./icons.svg#Required")
					//- .input-title Телефон
					input(type='text' name="phone" placeholder="Телефон").form-field__input
					.input-message(data-input-message)
				.form-field.disabled.form-field-input(data-field-input data-field-email data-status="field--inactive")
					//- .input-title.text-style-h-4.text-gray Email:
					input(type='text' name="email" placeholder="Email").form-field__input
					.input-message(data-input-message)
				.form-field.form-field-input(data-field-input data-field-goal data-status="field--inactive" data-custom-select)
						//- Приховане поле, яке реально відправляє дані
						input(type="hidden" name="goal" data-select-input)
						
						//- Те, що бачить користувач
						.select-trigger
								span.select-trigger__text Ціль
								.select-trigger__icon: svg: use(href="./icons.svg#ChevronArrow")
						
						//- Випадаючий список
						.select-dropdown
								ul.select-list
										li.select-item(data-value="consultation") Консультація 
										li.select-item(data-value="sales") Продажі
										li.select-item(data-value="marketing") Маркетинг
										li.select-item(data-value="partnership") Партнерство
										li.select-item(data-value="service") Сервіс для клієнтів
										
						.input-message(data-input-message)
				.form-field.disabled.form-field-input(data-field-input data-field-theme data-status="field--inactive")
					input(type='text' name="theme" placeholder="Тема пропозиції").form-field__input
					.input-message(data-input-message)
				.form-field.disabled.form-field-input.form-field-textarea(data-field-input data-field-comment data-status="field--inactive")
					textarea(name="comment" data-lenis-prevent placeholder="Коментар:").form-field__input
					.input-message(data-input-message)
				.form-field__checkbox-container(data-field-checkbox data-status="field--inactive")
					label.form-field__checkbox
						input(type="checkbox" name="agreement" id="agreement")
						span.form-field__checkbox-checkmark
						span.form-field__checkbox-text 
							| Натискаючи кнопку, ви приймаєте 
							a(href="#") політику конфіденційності
							|  та даєте згоду на обробку персональних даних
					.input-message(data-input-message) 


			.form__button-wrapper
				+button-primary("Відправити", null, null, "button-primary--white")(data-btn-submit type="submit")
