.gallery-section {
  padding-top: vw(200);
  position: relative;
  overflow: hidden;

  @include to(1023px) {
    height: auto;
    padding-top: 140px;
  }

  @include to(767px) {
    padding-top: 60px;
  }

  .gallery-title {
    @include font-h1;
    color: $brown;
    text-align: center;

    @include to(1023px) {
      left: 33%;
    }
  }

  .gallery-swiper {
    position: relative;

    .gallery-list {
      .gallery-item {
        height: vw(790);

        @include to(1023px) {
          height: vw-tablet(740);
        }

        @include to(767px) {
          height: 440px;
        }

        .gallery-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }

  .gallery-swiper-ellipse-top,
  .gallery-swiper-ellipse-bottom {
    position: absolute;
    left: -25%;
    width: 150%;
    height: vw(600);
    background-color: $white;
    z-index: 10;
  }

  .gallery-swiper-ellipse-top {
    top: calc(-1 * vw(600) + vw(80));
    border-radius: 0 0 50% 50%;

    @include to(1023px) {
      border-radius: 0 0 35% 35%;
    }

    @include to(767px) {
      border-radius: 0 0 25% 25%;
    }
  }

  .gallery-swiper-ellipse-bottom {
    bottom: calc(-1 * vw(600) + vw(80));
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
    z-index: 15;

    @include to(1023px) {
      border-radius: 35% 35% 0 0;
    }

    @include to(767px) {
      border-radius: 25% 25% 0 0;
    }

    .gallery-nav-buttons {
      position: absolute;
      top: -2px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
    }
  }
}
