include ../../../shared/components/swiper-nav/swiper-nav.pug

- 
  const gallery = [
    {img: '/images/gallery/gallery-img-1.jpg', alt: 'Slide 1'},
    {img: '/images/gallery/gallery-img-2.jpg', alt: 'Slide 2'},
    {img: '/images/gallery/gallery-img-3.jpg', alt: 'Slide 3'},
    {img: '/images/gallery/gallery-img-4.jpg', alt: 'Slide 4'},
    {img: '/images/gallery/gallery-img-5.jpg', alt: 'Slide 5'},
    {img: '/images/gallery/gallery-img-6.jpg', alt: 'Slide 6'},
    {img: '/images/gallery/gallery-img-7.jpg', alt: 'Slide 7'},
    {img: '/images/gallery/gallery-img-8.jpg', alt: 'Slide 8'},
    {img: '/images/gallery/gallery-img-9.jpg', alt: 'Slide 9'}
  ]

section.gallery-section 

  h2.gallery-title Галерея

  .gallery-swiper.swiper 
    .gallery-swiper-ellipse-top

    ul.gallery-list.swiper-wrapper 
      each item in gallery 
        li.gallery-item.swiper-slide
          img(src=item.img, alt=item.alt loading="lazy").gallery-image
          
    .gallery-swiper-ellipse-bottom
      +swiper-nav('gallery-nav-buttons', 'gallery-button-prev', 'gallery-button-next')

