.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__utility {
    display: flex;
    align-items: center;
    gap: vw(48);
    justify-content: center;
    width: 100%;
    max-width: 343px;

    @include to(1023px) {
      gap: 48px;
    }

    @include to(767px) {
      gap: 20px;
    }

    .pagination__prev,
    .pagination__next {
      @include to(767px) {
        width: 48px !important;
        height: 48px !important;
      }
    }
  }

  &__more {
    @include font-h4-semibold;
    display: flex;
    align-items: center;
    gap: vw(12);
    margin-top: vw(40);
    color: $black;
    -webkit-text-fill-color: $black;

    @include to(767px) {
      margin-top: 42px;
      gap: 12px;
    }
  }

  &__icon {
    width: vw-laptop(24);
    height: vw-laptop(24);
    flex-shrink: 0;

    @include from(1512) {
      width: 24px;
      height: 24px;
    }

    @include to(1023px) {
      width: 24px;
      height: 24px;
    }
  }

  .pagination-count {
    display: flex;
    align-items: center;
    gap: vw(12);

    @include to(1023px) {
      gap: 12px;
    }

    &__current {
      @include font-h4-regular;
      color: $black;
      background-color: transparent;
      border: none;
      max-width: 28px;
      -webkit-appearance: none;
      -webkit-text-fill-color: $black;
    }

    &__max {
      @include font-h4-regular;
      color: $black;
      text-wrap: nowrap;
    }

    &__decor {
      flex-shrink: 0;
      width: vw(32);
      height: vw(54);

      @include to(1023px) {
        height: 60px;
        width: 20px;
      }
    }
  }
}
