@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/vars.scss" as *;
@use "../../shared/components/swiper-nav/button-next/button-next.scss" as *;
@use "../../shared/components/swiper-nav/button-prev/button-prev.scss" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: vw(140);

  &__utility {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    width: 100%;
    max-width: 343px;

    @include tablet {
      gap: 32px;
    }

    @include laptop {
      gap: vw(48);
    }
  }

  &__more {
    @include font-h4-semibold;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;

    @include tablet {
      margin-top: 32px;
    }

    @include laptop {
      margin-top: vw(40);
    }
  }

  &__icon {
    width: vw-laptop(24);
    height: vw-laptop(24);
    flex-shrink: 0;

    @media screen and (min-width: 1512px) {
      width: 24px;
      height: 24px;
    }
  }

  .pagination-count {
    display: flex;
    align-items: center;
    gap: 12px;

    @include laptop {
      gap: vw(12);
    }

    &__current {
      @include font-h4-regular;
      padding: 12px 24px;
      color: $black;

      @include tablet {
        padding: 22px 48px;
      }

      @include laptop {
        padding: vw(12) vw(24);
        gap: vw(56);
      }
    }

    &__max {
      @include font-h4-regular;
      color: $black;
      text-wrap: nowrap;
    }

    &__decor {
      flex-shrink: 0;
      width: vw(32);
      height: vw(54);
    }
  }
}
