.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__utility {
    display: flex;
    align-items: center;
    gap: vw(48);
    justify-content: center;
    width: 100%;
    max-width: 343px;
  }

  &__more {
    @include font-h4-semibold;
    display: flex;
    align-items: center;
    gap: vw(12);
    margin-top: vw(40);
  }

  &__icon {
    width: vw-laptop(24);
    height: vw-laptop(24);
    flex-shrink: 0;

    @include from(1512) {
      width: 24px;
      height: 24px;
    }
  }

  .pagination-count {
    display: flex;
    align-items: center;
    gap: vw(12);

    &__current {
      @include font-h4-regular;
      color: $black;
      background-color: transparent;
      border: none;
      max-width: 28px;
    }

    &__max {
      @include font-h4-regular;
      color: $black;
      text-wrap: nowrap;
    }

    &__decor {
      flex-shrink: 0;
      width: vw(32);
      height: vw(54);
    }
  }
}
