@import "@/pages/plannings/plannings-filter/plannings-filter.scss";
@import "@pages/plannings/plannings-catalog/plannings-catalog.scss";

.plannings-section {
  padding: 140px vw(20) vw(140);

  .plannings-title {
    @include font-h1;
    color: $brown;
    margin-bottom: vw(40);
    text-align: center;
  }

  .plannings__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    --gap: 20px;
    gap: var(--gap);
    background-color: $white;
  }

  .plannings__load-more {
    width: calc(75% - var(--gap));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    row-gap: 42px;

    .incredible-button {
      margin-top: 0;
    }
    & > * {
      margin-top: calc(var(--section-v-offset) * 0.5);
    }

    @include to(1024px) {
      width: 100%;
      margin: auto;
    }
  }
}
