.docs-section {
  padding-top: vw(200);

  .docs-title {
    @include font-h2;
    color: $brown;
    margin-bottom: vw(40);
    text-align: center;
  }

  .docs-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid $black;
    border-left: 1px solid $black;
  }
}
