include /shared/components/docs_card/docs_card.pug

-
  const docs_cards = [
    {
      img: '/images/docs/docs-img-1.jpg', 
      title:'Лiцензiя Г. П. Командор ( повiдомлення, перелiк робiт, Витяг iз сайту ДАБI )',
      link: '#'
    },
    {
      img: '/images/docs/docs-img-2.jpg', 
      title:'Договір оренди земельної ділянки від 12.06.2020р',
      link: '#'
    },
    {
      img: '/images/docs/docs-img-3.jpg', 
      title:'Eкспертиза проєкту',
      link: '#'
    },
    {
      img: '/images/docs/docs-img-4.jpg', 
      title:'2020-11-26 ГП Цедика 14А Стадия П - КОРРЕКТ-2 ГП',
      link: '#'
    }
  ]

section.docs-section(id="documents")
  h2.docs-title Документація
  
  ul.docs-list 
    each item in docs_cards 
      +docs_card(item)
