mixin button-next(customClass = '')
  button(type="button" class=`button-next ${customClass}` )&attributes(attributes)
    svg(width="24" height="24" class="nav-button-icon-next")
      use(href="/images/icons.svg#icon-arrow")