@import "/src/app/styles/smart-grid.scss";

.plannings__filter {
  width: calc(30% - var(--gap));
  border: 1px solid$black;
  padding: vw(40) vw(20);

  &.collapsed {
    height: 47px;
    overflow: hidden;
  }

  @include from(1025px) {
    position: sticky;
    top: var(--header-h);
    max-height: calc(100vh - var(--header-h));
  }

  @include to(1023px) {
    width: 100%;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include to(600px) {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid var(--White, #dbe2ea);
    width: calc(100% - var(--page-side-fields) * 2);
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: calc(var(--header-h) + 8px);
    z-index: 2;
    background-color: $white;
    padding-top: 0;
  }

  &.collapsed &-title {
    svg:nth-last-child(1) {
      display: block;
    }
    svg:nth-last-child(2) {
      display: none;
    }
  }

  &-image-label {
    height: 35px;
    width: auto;
    margin-right: auto;
    @include to(1024px) {
      margin-right: 16px;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 4px;
    column-gap: 4px;
    & > :first-child:not(img) {
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      @include from(1025px) {
        margin-bottom: 12px;
      }
      @include to(1024px) {
        margin-bottom: 16px;
      }
      @include to(600px) {
      }
    }
    @include to(1024px) {
      width: 100%;
      &--range {
        width: calc(50% - var(--gap) * 0.5);
      }
    }
    @include from-to(601px, 1024px) {
      &--range {
        width: calc(40% - var(--gap));
      }
    }
    @include to(600px) {
      &--range {
        width: 100%;
      }
    }

    &-title {
      @include font-h4-semibold;
      color: $black;
      margin-bottom: vw(12);
      text-transform: none;
    }
  }

  &-group ~ &-group {
    margin-top: vw(32);
  }

  .Range__item {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.planning-checkbox {
  cursor: pointer;
  width: max-content;

  span {
    @include font-body;
    color: $brown;
    padding: 5px 12px;
    border-radius: 100px;
    border: 1px solid $brown;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }

  input {
    display: none;
  }

  input:checked + span {
    background-color: $brown;
    color: $white;
  }

  @media (hover: hover) {
    &:hover span {
      color: $white;
      background-color: $brown;
      transition: all 0.25s ease-in-out;
    }
  }
}

.planning-reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: vw(12);
  color: $black;
  cursor: pointer;
  width: max-content;
  @include font-body;
  margin-top: vw(32);
  line-height: 150%;

  svg {
    width: vw-laptop(16);
    height: vw-laptop(16);

    @include laptop-1512 {
      width: 16px;
      height: 16px;
    }

    [fill] {
      fill: $black;
    }
  }
}

.Range {
  .irs {
    --irs-point: 15px;
    --irs-color-text: var(--color-black);
    --irs-color-bg-line: var(--color-white);
    --irs-color-bar: var(--color-black);
    --irs-color-point: var(--color-white);
    --irs-color-point-stroke: var(--color-black);
    margin-bottom: -20px;

    @media screen and (min-width: 1441px) {
      margin-bottom: -25px;
    }
  }

  .irs--flat .irs-bar {
    height: 1px;
  }

  --input-width: 30%;

  @media screen and (max-width: 1360px) and (min-width: 1024px) {
    --input-width: 80px;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__title {
    width: 100%;
    //   @include text-style-3-d-fonts-1920-body-regular;
    margin-bottom: var(--space-1);
    margin-bottom: 16px;
    @include to(600px) {
      padding-left: var(--page-side-fields);
      padding-right: var(--page-side-fields);
    }
  }

  &__item {
    flex-grow: 1;
    margin: 0 var(--space-2);
    width: 100%;
  }

  &__input {
    width: var(--input-width);
    padding: var(--space-3);
    border: 1px solid transparent;
    text-align: center;
    text-align: right;
    margin-bottom: vw(12);
    background-color: $white;
    @include font-body;
    transition: 0.25s ease-out;
    color: $black;

    &--first {
      text-align: left;
    }

    @include to(600px) {
      padding-left: var(--page-side-fields);
      padding-right: var(--page-side-fields);
    }

    &:focus {
      outline: none;
    }
  }
}

.mobile {
  .Range {
    display: grid;
    grid-template-areas:
      "title input1 input2"
      "range range range";
    gap: var(--space-2);

    grid-template-columns: 74px 1fr 1fr;

    &__title {
      grid-area: title;
    }

    &__item {
      grid-area: range;
    }

    &__input:first-of-type {
      grid-area: input1;
    }

    &__input:last-of-type {
      grid-area: input2;
    }

    &__input {
      width: 100%;
    }
  }
}

.irs {
  --irs-height: 40px;
  --irs-point: 15px;
  --irs-color-text: var(--color-white);
  --irs-color-bg-line: var(--color-white);
  --irs-color-bar: var(--color-white);
  --irs-color-point: var(--color-white);
  --irs-color-point-hover: var(--color-white);
  --irs-color-point-stroke: var(--color-white);
  height: var(--irs-height);

  &--flat .irs-line {
    height: 2px;
    top: calc(var(--irs-point) / 2);
    background: var(--irs-color-bg-line);
  }

  &--flat .irs-bar {
    top: calc(var(--irs-point) / 2);
    height: 1px;
    background: var(--irs-color-bar);
  }

  &--flat .irs-handle {
    top: 0;
    width: var(--irs-point);
    height: var(--irs-point);
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    transition: transform 0.4s ease-in-out;
  }

  &--flat .irs-handle > i:first-child {
    width: 100%;
    position: static;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid var(--irs-color-point-stroke);
  }

  &--flat .irs-from,
  &--flat .irs-to,
  &--flat .irs-single {
    color: var(--irs-color-text);
    font-size: var(--font14);
    line-height: 1.3em;
    top: calc(var(--irs-point) + 2px);
    background: none;

    &:before {
      display: none;
    }
  }
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: var(--color-white);
}

@media screen and (min-width: 1023px) {
  .irs {
    &--flat .irs-handle {
      &:hover {
        transform: scale(1.2);
      }
    }

    &--flat .irs-handle:hover > i:first-child {
      background-color: var(--irs-color-point-hover);
    }
  }
}

@media screen and (max-width: 1440px) {
  .irs {
    --irs-height: 35px;
  }
}

@media screen and (max-width: 680px) {
  .irs {
    --irs-height: 45px;
    --irs-point: 24px;

    &--flat .irs-handle {
      top: calc(var(--irs-point) / 2);
      transform: translate(0%, -50%);
    }
  }
}

.mobile.landscape {
  .irs {
    --irs-height: 30px;
  }
}
