.single-flat {
  &__top {
    display: flex;
    flex-wrap: wrap;
    grid-area: top;
    row-gap: 40px;
    justify-content: space-between;

    @include from(1024px) {
      margin-bottom: 40px;
    }

    .single-flat-back-button {
      width: 30%;

      @include to(600px) {
        width: auto;
      }
    }
  }

  &__title-tabs-block {
    display: flex;
    flex-direction: column;
    gap: vw(20);
    align-items: center;
    justify-content: center;
    margin: auto;

    @include to(1023px) {
      gap: 20px;
    }
  }

  &__title {
    display: flex;
    gap: vw(16);
    align-items: center;
    margin-top: vw(40);
    color: $brown;

    @include font-h2;

    @include to(1023px) {
      gap: 16px;
      margin-top: 40px;
    }

    @include to(767px) {
      margin-top: 80px;
    }
  }

  &__tabs {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    grid-area: img;
    place-content: flex-start center;
    align-items: flex-start;
  }

  &__image-block {
    width: 100%;

    &-wrap {
      position: relative;
      padding-bottom: 50vh;

      @include to(600px) {
        padding-bottom: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: contain;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-area: info1;
    gap: vw(28);
    align-items: center;
    padding-right: vw(20);
    padding-left: vw(20);

    @include to(1023px) {
      gap: 28px;
      padding-right: 20px;
      padding-left: 20px;
    }

    @include to(767px) {
      gap: 20px;
    }

    .button-primary {
      justify-content: center;
      width: 100%;
    }

    .hide-on-mobile {
      width: 100%;
    }

    &__label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: vw(100);
      height: vw(100);
      background: $white;
      border: 1px solid $ochre;
      border-radius: 100px;

      @include to(1023px) {
        width: 76px;
        height: 76px;
      }

      &__num {
        @include font-h3;

        color: $black;
      }

      &__desc {
        @include font-tiny;

        color: $black;
      }
    }

    &__icon-sign {
      width: vw(70);
      height: vw(16);
      margin: 0 auto;
      fill: $blue;

      @include to(1023px) {
        width: 70px;
        height: 16px;
      }
    }

    &-group {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .button-main {
        margin: 0 auto;

        @include to(767px) {
          width: 89vw;
        }
      }

      &__description {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        justify-content: center;
        color: $black;
        text-align: center;

        @include font-body;
      }
    }

    &-group:first-child {
      // @include to(600px) {
      //   display: none;
      // }
    }
  }

  &__info2 {
    grid-area: info2;

    @include from-to(601px, 1024px) {
      // padding-right: 74px;
    }

    @include to(1023px) {
      padding-right: 74px;
      padding-left: 20px;
    }

    @include from(1024px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @include to(600px) {
      padding-right: 20px;
      padding-left: 20px;

      .button-main {
        width: max-content;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      margin-bottom: 32px;

      @include to(600px) {
        margin-bottom: 20px;
      }

      .button-main {
        border-color: $brown;

        .general-text {
          color: $brown;
        }

        @include to(767px) {
          width: 89vw;
        }
      }
    }

    &-row {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: space-between;

      &__title {
        max-width: 220px;
      }

      &__value {
        min-width: 50px;
        text-align: right;
      }

      &__title,
      &__value {
        @include font-body;

        color: $black;
      }
    }
  }
}

.s3d-pdf-popup {
  font-family: $default-font;

  .pdf-icon {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 30px;
    background-color: #ffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .swal2-popup {
    width: auto !important;
    padding: 48px 0;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0;
  }

  .swal2-close {
    position: absolute;
    transition: all 0.35s ease-in-out;
  }

  .swal2-close:hover {
    transform: rotate(180deg);
  }

  .swal2-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    color: $black;
    text-transform: uppercase;

    @include font-h2;
  }

  .swal2-title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 1px;
    content: "";
    background-color: #d1d9e1;
    transform: translate(-50%, 0);
  }

  .swal2-actions {
    margin: 0;

    button {
      padding: 20px 32px;
      color: $white;
      background-color: $brown;
      border: 1px solid $brown;
      border-radius: 128px;

      svg {
        stroke: $white;
      }

      &:hover {
        color: $black;

        svg {
          stroke: $black;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        span {
          margin-left: 12px;
        }
      }
    }
  }

  .swal2-confirm {
    font-weight: 300;
    color: var(--color-black);
    background: var(--color-gradient);
    border-color: var(--border-brand-900);

    &:hover {
      background: var(--color-yellow) !important;
      background-image: none !important;
      border-color: var(--border-brand-900);
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.toastify {
  color: var(--color-black);
  background: var(--color-yellow);
  border-radius: 8px;
}
