.not-found-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  margin-bottom: vw(100);

  @include to(1023px) {
    height: 100vh;
    min-height: 600px;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 140px;
  }

  @include to(767px) {
    height: 100vh;
    min-height: unset;
    padding-bottom: 0;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 60px;
  }

  .not-found-visual {
    position: relative;
    height: 100%;
    overflow: hidden;

    .not-found-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .not-found-sign-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: vw(890);
      pointer-events: none;

      .not-found-sign {
        width: 100%;
        height: auto;
      }
    }
  }

  .not-found-content {
    background-color: $blue;
    display: flex;
    align-items: center;
    padding: vw(60);

    @include to(1023px) {
      padding: 60px;
    }

    @include to(767px) {
      padding: 20px;
    }

    .not-found-text-inner {
      margin: auto;

      .not-found-title {
        @include font-huge;
        color: $white;
        margin-bottom: vw(20);

        @include to(1023px) {
          margin-bottom: 20px;
          letter-spacing: normal;
        }
      }

      .not-found-text {
        @include font-h3;
        color: $black;
        margin-bottom: vw(60);

        @include to(1023px) {
          margin-bottom: 60px;
        }

        @include to(767px) {
          margin-bottom: 20px;
        }
      }

      .not-found-list {
        display: flex;
        align-items: center;
        gap: vw(16);

        @include to(1023px) {
          gap: 16px;
        }
      }
    }
  }
}
