include /shared/components/general-btn/general-btn.pug

section.not-found-section
  //- Ліва частина з картинкою та декором
  .not-found-visual
    img(src="/images/not-found/not-found-img.jpg", alt="Внутрішній двір" loading="lazy").not-found-image
    .not-found-sign-wrapper
      img(src="/images/not-found/not-found-sign.svg", alt="Декор").not-found-sign

  //- Права частина з текстом
  .not-found-content
    .not-found-text-inner
      h1.not-found-title 404
      p.not-found-text Сторінка не знайдена, <br> але квартири — доступні

      ul.not-found-list
        li.not-found-item
          +general-btn({href:"/home.html", text:"На головну", customClass:'not-found-link'})
        li.not-found-item
          +general-btn({href:"/plannings.html", text:"Переглянути квартири", customClass:'not-found-link'})