.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.36, 1, 0.86, 1);

  &.is-open {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;

    .popup-content {
      transform: translateY(0);
    }
  }

  &.js-inited .popup-content {
    transition: $transition;
  }

  .popup-content {
    position: relative;
    top: 0;
    right: 0;
    background-color: $blue;
    height: 100%;
    padding: vw(100) vw(60);
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    max-width: vw-laptop(480);

    @include from(1512) {
      max-width: 480px;
    }

    @include to(1023px) {
      max-width: 480px;
      padding: 60px;

      &.popup-menu {
        width: 580px;
        padding: 100px 60px;
      }
    }

    @include to(767px) {
      padding: 60px 20px;

      &.popup-menu {
        width: 580px;
        padding: 72px 20px;
      }
    }

    .close-btn {
      display: flex;
      align-items: center;
      gap: vw(16);
      overflow: hidden;
      position: absolute;
      top: vw(35);
      right: vw(20);
      background: none;
      border: none;
      cursor: pointer;
      z-index: 999;

      @include to(1023px) {
        top: 20px;
        right: 20px;
      }

      .close-text {
        @include font-h4-semibold;
        color: $black;

        @include to(1023px) {
          font-size: 20px;
        }

        &.real {
          display: block;
          transition: $transition;
          transform: translateY(0%);
        }

        &.fake {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(105%);
          transition: $transition;
        }
      }

      &:hover {
        .close-text {
          &.real {
            transform: translateY(-105%);
          }
          &.fake {
            transform: translateY(0%);
          }
        }
      }

      .close-icon {
        position: relative;
        overflow: hidden;
        display: block;
      }
    }

    .popup-sign-block {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: vw(475);
      opacity: 0.05;
      pointer-events: none;
      z-index: -1;

      @include to(1023px) {
        max-width: calc((280 / 1023) * 100vw);
      }

      @include to(767px) {
        max-width: 475px;
      }

      .popup-sign {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }
    }
  }

  &.popup-form,
  &.popup-callback {
    .popup-content {
      max-width: vw(500);
    }
  }
}
