mixin popup(name)
  .backdrop.js-backdrop(class=`popup-${name}`)&attributes(attributes) 
    .popup-content(class=`popup-${name}`)(data-lenis-prevent)
      button(type="button").close-btn.js-close-btn

        if name === 'menu'
          span.close-text.real Меню
          span.close-text.fake Закрити
  
        svg.close-icon
          use(href="/images/icons.svg#icon-close")

      block

      .popup-sign-block 
        img(src="/images/popup-sign.svg", alt="Декор").popup-sign