
include ../../../shared/components/swiper-nav/swiper-nav.pug

-
  const diagonal_slides = [
    { img: '/images/w-diagonal/w-diagonal-img-1.jpg', alt: 'Build' },
    {img:'/images/about/about-main-1.jpg', alt:'Genplan'},
    {img:'/images/about/about-main-2.jpg', alt:'Build 1'},
    {img:'/images/about/about-main-3.jpg', alt:'Yard'},
    {img:'/images/about/about-main-4.jpg', alt:'Build 2'},
    {img:'/images/about/about-main-5.jpg', alt:'Kids'},
    {img:'/images/about/about-main-6.jpg', alt:'Balconies'}
  ]

  const diagonal_texts = [
    {
      text: 'Перед тобою W-Діагональ — відкритий променад, що проходить через увесь простір Wmisto і об’єднує його в єдину живу систему.'
    },
    {
      text: 'Концепція Wmisto побудована за логікою однієї з найвпливовіших урбаністичних моделей Європи — системи міських кварталів Барселони, створеної у XIX столітті урбаністом Ільдефонсом Серда. Її принцип простий і геніальний: будинки формують чітку структуру, а між ними з’являється простір для світла, зелені та міського життя.'
    },
    {
      text: 'У Wmisto цю ідею переосмислено сучасною архітектурою. Будинки утворюють систему приватних дворів із трирівневою безпекою, а W-Діагональ — 420 метрів пішохідного променаду — проходить крізь увесь простір кварталу, поєднуючи зелені зони та місця для зустрічей.'
    },
    {
      text: 'Тут архітектура, природа й міський ритм працюють разом, створюючи середовище, яке живе щодня — разом із тобою.'
    }
  ]

section.w-diagonal-section(id="w-diagonal")
  .w-diagonal-left-block
    .slider-block 
      .w-diagonal-swiper.swiper
        .swiper-wrapper 
          each slide in diagonal_slides
            .swiper-slide 
              .slider-img-wrapper(data-swiper-parallax="20%")
                img.slider-img(src=slide.img, alt=slide.alt loading="lazy")

    +swiper-nav('w-diagonal-nav-buttons', 'w-diagonal-button-prev', 'w-diagonal-button-next')

  .w-diagonal-right-block
    h2.w-diagonal-title W-Діагональ

    svg(width="70" height="16").w-diagonal-icon
      use(href="/images/icons.svg#icon-sign")
    
    ul.w-diagonal-list
      each item in diagonal_texts
        li.w-diagonal-item
          p.w-diagonal-text= item.text