.w-diagonal-section {
  // height: calc(100vh - 100px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: vw(105);
  position: relative;
  padding: vw(100) vw(60);

  .w-diagonal-left-block {
    width: 70%;
    border: 1px solid $black;
    padding: vw(40);
    position: relative;

    .slider-block {
      height: 100%;
      width: 100%;

      .w-diagonal-swiper {
        height: 100%;

        .swiper-wrapper {
          .swiper-slide {
            height: 100%;
            max-height: vw(666);
            overflow: hidden;

            .slider-img-wrapper {
              width: 120%;
              height: 100%;
              position: relative;
              left: -10%;

              .slider-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
              }
            }
          }
        }
      }
    }

    .w-diagonal-nav-buttons {
      bottom: vw(8);
    }
  }

  .w-diagonal-right-block {
    width: 30%;

    .w-diagonal-title {
      @include font-h3;
      color: $black;
      margin-bottom: vw(20);
    }

    .w-diagonal-icon {
      fill: $brown;
      margin-bottom: vw(20);
    }

    .w-diagonal-list {
      display: flex;
      flex-direction: column;
      gap: vw(20);

      .w-diagonal-item {
        .w-diagonal-text {
          @include font-body;
          color: $black;
        }
      }
    }
  }
}
