@import "@/pages/single-flat/single-flat-section/single-flat-section";
@import "@/pages/single-flat/installment-section/installment-section";
@import "@/pages/single-flat/other-flats-section/other-flats-section";

.single-flat {
  padding-top: 100px;
  padding-bottom: vw(140);

  @include to(1023px) {
    padding-bottom: 140px;
  }

  @include to(767px) {
    padding-bottom: 60px;
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-areas:
      "top top top"
      "info2 img info1";
    grid-template-columns: 1fr 3fr 1fr;
    gap: vw(20);

    @include to(1441px) {
      grid-template-columns: 1fr 3fr 1fr;
    }

    @include to(1240px) {
      grid-template-columns: 1fr 2.5fr 1fr;
    }

    @include to(1023px) {
      grid-template-areas:
        "top top"
        "img img"
        "info2 info1";
      grid-template-columns: 1fr 1fr;
      gap: 140px 0;
    }

    @include to(767px) {
      grid-template-areas:
        "top"
        "img"
        "info1"
        "info2";
      grid-template-columns: 1fr;
      gap: 60px 0;
    }

    .installment-block {
      grid-column: 1 / 4;
      margin-top: 100px;

      @include from-to(601px, 1024px) {
        margin-top: 60px;
      }

      @include to(600px) {
        margin-top: 40px;
      }
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: vw(5) vw(12);
  color: $brown;
  border: 1px solid $brown;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;

  @include font-body;

  @include to(1023px) {
    padding: 5px 12px;
  }

  &:not(.active) {
    cursor: pointer;
  }

  &:hover {
    color: $white;
    background-color: $brown;
    border-color: $brown;
  }

  &.active {
    color: $white;
    pointer-events: none;
    background-color: $brown;
    border-color: $brown;
  }
}
