@import "@/pages/single-flat/single-flat-section/single-flat-section.scss";
@import "@/pages/single-flat/installment-section/installment-section.scss";
@import "@/pages/single-flat/other-flats-section/other-flats-section.scss";

.single-flat {
  padding-top: 100px;
  padding-bottom: vw(140);

  @include to(1023px) {
    padding-bottom: 140px;
  }

  @include to(767px) {
    padding-bottom: 60px;
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: vw(20);
    grid-template-areas:
      "top top top"
      "info2 img info1";

    @include to(1441px) {
      grid-template-columns: 1fr 3fr 1fr;
    }
    @include to(1240px) {
      grid-template-columns: 1fr 2.5fr 1fr;
    }

    @include to(1023px) {
      grid-template-areas:
        "top top"
        "img img"
        "info2 info1";
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
      row-gap: 140px;
    }

    @include to(767px) {
      grid-template-areas:
        "top"
        "img"
        "info1"
        "info2";
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 60px;
    }

    .installment-block {
      margin-top: 100px;
      grid-column-start: 1;
      grid-column-end: 4;

      @include from-to(601px, 1024px) {
        margin-top: 60px;
      }

      @include to(600px) {
        margin-top: 40px;
      }
    }
  }
}

.tab {
  display: flex;
  padding: vw(5) vw(12);
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $brown;
  color: $brown;
  @include font-body;
  transition: all 0.2s ease-in-out;

  @include to(1023px) {
    padding: 5px 12px;
  }

  &:not(.active) {
    cursor: pointer;
  }

  &:hover {
    background-color: $brown;
    border-color: $brown;
    color: $white;
  }

  &.active {
    background-color: $brown;
    border-color: $brown;
    color: $white;
    pointer-events: none;
  }
}
