-
  const infrastructure_inside = [
    'Заклад дошкільної освіти на 160 місць',
    'Мультиспортивний хаб',
    'Бібліотека-коворкінг',
    'Торгівельний центр',
    'Паркінги та індивідуальні гаражі',
    'Галерея бутиків та ресторанів'
  ]

  const infrastructure_outside = [
    { num: 1, min: 'хвилина', target: 'до зупинки громадського транспорту' },
    { num: 5, min: 'хвилин', target: 'до школи та садочку, пішки' },
    { num: 7, min: 'хвилин', target: 'до центру' },
    { num: 10, min: 'хвилин', target: 'до Центрального ринку' },
    { num: 15, min: 'хвилин', target: 'до набережної та фонтану' }
  ]

section.infrastructure-section(id="infrastructure")
  .infrastructure-title-block
    h2.infrastructure-title Інфраструктура
    p.infrastructure-text за власною унікальною концепцією «All-in-One»
  
  .infrastructure-left-right-blocks-container
    .infrastructure-left-block 
      h3.infrastructure-left-title У WMisto передбачено все для щоденного комфорту:

      ol.infrastructure-left-list
        each item in infrastructure_inside
          li.infrastructure-left-item
            p.infrastructure-left-text= item

    .infrastructure-right-block 
      h3.infrastructure-right-title За межами кварталу тобі знадобиться:

      ul.infrastructure-right-list
        each item in infrastructure_outside
          li.infrastructure-right-item
            p.infrastructure-right-num= item.num
            .infrastructure-right-text 
              p.infrastructure-right-minutes= item.min
              p.infrastructure-right-target= item.target