section.infrastructure-section
  .infrastructure-title-block
    h2.infrastructure-title Інфраструктура
    p.infrastructure-text за власною унікальною концепцією «All-in-One»
  
  .infrastructure-left-right-blocks-container
    .infrastructure-left-block 
      h3.infrastructure-left-title У WMisto передбачено все для щоденного комфорту:

      ol.infrastructure-left-list
        li.infrastructure-left-item
          p.infrastructure-left-text Заклад дошкільної освіти на 160 місць 
        li.infrastructure-left-item
          p.infrastructure-left-text Мультиспортивний хаб
        li.infrastructure-left-item
          p.infrastructure-left-text Бібліотека-коворкінг
        li.infrastructure-left-item
          p.infrastructure-left-text Торгівельний центр
        li.infrastructure-left-item
          p.infrastructure-left-text Паркінги та індивідуальні гаражі
        li.infrastructure-left-item
          p.infrastructure-left-text Галерея бутиків та ресторанів

    .infrastructure-right-block 
      h3.infrastructure-right-title За межами кварталу тобі знадобиться:

      ul.infrastructure-right-list
        li.infrastructure-right-item
          p.infrastructure-right-num 1
          .infrastructure-right-text 
            p.infrastructure-right-minutes хвилина
            p.infrastructure-right-target до зупинки громадського транспорту
        li.infrastructure-right-item
          p.infrastructure-right-num 5
          .infrastructure-right-text 
            p.infrastructure-right-minutes хвилин
            p.infrastructure-right-target до школи та садочку, пішки
        li.infrastructure-right-item
          p.infrastructure-right-num 7
          .infrastructure-right-text 
            p.infrastructure-right-minutes хвилин
            p.infrastructure-right-target до центру
        li.infrastructure-right-item
          p.infrastructure-right-num 10
          .infrastructure-right-text 
            p.infrastructure-right-minutes хвилин
            p.infrastructure-right-target до Центрального ринку
        li.infrastructure-right-item
          p.infrastructure-right-num 15
          .infrastructure-right-text 
            p.infrastructure-right-minutes хвилин
            p.infrastructure-right-target до набережної та фонтану