.installment-block {
  &__content {
    padding: 0 vw(20) vw(100);
    column-gap: vw(140);
    row-gap: vw(20);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title text"
      "img text";

    @include to(1023px) {
      grid-template-areas:
        "title"
        "img"
        "text";
      grid-template-columns: 1fr;
      padding: 0 20px 80px;
      row-gap: 40px;
    }

    @include to(767px) {
      row-gap: 20px;
    }
  }

  &__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include font-body;
    color: $black;

    button {
      margin-top: vw(40);

      @include to(1023px) {
        margin-top: 40px;
      }

      @include to(767px) {
        margin-top: 0;
      }
    }
  }

  &__title {
    grid-area: title;

    @include font-h2;
    color: $brown;

    @include to(1023px) {
      max-width: 728px;
    }

    @include to(767px) {
      @include font-mob-h3;
    }
  }

  &__img {
    grid-area: img;
    overflow: hidden;
    max-width: vw(1120);

    @include to(1023px) {
      aspect-ratio: 728/460;
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
