include /shared/components/general-btn/general-btn.pug

.installment-block
  .installment-block__content
    .installment-block__title Цікавить розтермінування?
    .installment-block__text
      p Розстрочка від забудовника — простий та зручний спосіб придбати власну квартиру! Якщо ви давно плануєте купівлю житла, але наразі не готові внести повну суму одразу, ми пропонуємо вигідні умови розстрочки, що дають можливість стати власником оселі вже сьогодні.
      p Ми забезпечуємо персональний підхід до кожного покупця, зрозумілі правила співпраці та жодних прихованих платежів. Ви зможете сплачувати вартість квартири частинами протягом погодженого терміну без додаткових банківських відсотків і зайвих бюрократичних процедур.
      p Обираючи розстрочку напряму від забудовника, ви отримуєте впевненість у завтрашньому дні та надійні умови придбання нерухомості. Це чудова можливість купити квартиру за привабливою ціною та поступово оплачувати її зручними для вас платежами до завершення будівництва. Ми прагнемо зробити процес купівлі максимально комфортним і доступним.
      p Зв’яжіться з нашим відділом продажу у зручний для вас спосіб, і ми підготуємо оптимальну пропозицію відповідно до ваших потреб.

      +general-btn({type:"button", text:"Дізнатися більше", customClass:'js-call-popup-open'})

    .installment-block__img
      <img data-image src="/images/single-flat/installment-image.jpg" alt="" srcset="" loading="lazy"/>