include /shared/components/news-card/news-card.pug

-
  const news_cards = [
    {
      date: '19 січня 2026',
      img: '/images/news/news-img-1.jpg',
      alt:"Міський пейзаж з висоти пташиного польоту",
      title:"Регулярний звіт з будівництва за січень.",
      link:"/news-single.html"
    },
    {
      date: '05 грудня 2025',
      img: '/images/news/news-img-2.jpg',
      alt:"Екстер'єр будинку",
      title:"Побудовано фундамент будинку та зведено металеві сваї. Роботяться підготовчі роботи.",
      link:"/news-single.html"
    },
    {
      date: '23 листопада 2025',
      img: '/images/news/news-img-3.jpg',
      alt:"Екстер'єр будинку",
      title:"Підготовчі роботи.",
      link:"/news-single.html"
    }
  ]

section.news-section(id="news")
  h2.news-title Новини

  ul.news-list 
    each item in news_cards 
      +news-card(item)
