.header {
  position: fixed;
  inset: 0;
  width: 100%;
  max-height: 100px;
  z-index: 10;
  border-bottom: 1px solid $black;
  background-color: rgba(245, 246, 241, 0.5);
  backdrop-filter: blur(20px);
  padding: vw(20);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: vw-laptop(215);
    max-height: 60px;

    @media screen and (min-width: 1512px) {
      width: 215px;
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    gap: vw-laptop(48);

    @media screen and (min-width: 1512px) {
      gap: 48px;
    }

    .social-list {
      display: flex;
      align-items: center;
      gap: 8px;

      .social-item {
        .social-link {
          .social-icon {
            width: vw-laptop(24);
            height: vw-laptop(24);
            fill: $black;

            @media screen and (min-width: 1512px) {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .pdf-btn {
      display: flex;
      align-items: center;
      gap: 12px;

      .pdf-icon {
        width: vw-laptop(24);
        height: vw-laptop(24);
        fill: $black;

        @media screen and (min-width: 1512px) {
          width: 24px;
          height: 24px;
        }
      }

      .pdf-text {
        @include font-h4-semibold;
        color: $black;
      }
    }

    .phone-link {
      display: flex;
      align-items: center;
      gap: 12px;

      .phone-icon {
        width: vw-laptop(24);
        height: vw-laptop(24);
        fill: $black;

        @media screen and (min-width: 1512px) {
          width: 24px;
          height: 24px;
        }
      }

      .phone-text {
        @include font-h4-semibold;
        color: $black;
      }
    }
  }

  .cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1000px;
    background-color: $brown;

    padding: vw-laptop(18) vw-laptop(28);

    @media screen and (min-width: 1512px) {
      padding: 18px 28px;
    }

    .cta-text {
      @include font-h4-semibold;
      color: $white;
    }
  }

  .burger-btn {
    display: flex;
    align-items: center;
    gap: 16px;

    .burger-text {
      @include font-h4-semibold;
      color: $black;
    }

    .burger-icon {
      width: vw-laptop(24);
      height: vw-laptop(24);

      @media screen and (min-width: 1512px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}
