include ../../shared/components/general-btn/general-btn.pug

mixin header
  header.header
    .logo-container
      a.logo-link(href="/home.html")
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="215" height="32" viewBox="0 0 215 32" fill="none">
          <g clip-path="url(#clip0_2876_1287)">
            <path d="M204.313 15.3123C203.471 15.3123 202.632 15.4803 201.856 15.8041C201.079 16.1279 200.377 16.5997 199.793 17.1914C198.655 18.4508 198.026 20.07 198.026 21.7491C198.026 23.4283 198.655 25.0475 199.793 26.3069C200.364 26.9026 201.059 27.3703 201.831 27.6862C202.604 27.998 203.438 28.1499 204.272 28.1259C205.106 28.1379 205.936 27.986 206.704 27.6702C207.473 27.3583 208.171 26.8946 208.746 26.3069C209.909 25.0595 210.558 23.4363 210.558 21.7491C210.558 20.062 209.913 18.4388 208.746 17.1914C208.175 16.6037 207.489 16.1319 206.725 15.8081C205.961 15.4843 205.139 15.3163 204.309 15.3123H204.313ZM204.276 11.4743C205.673 11.4543 207.062 11.7022 208.36 12.2099C209.658 12.7176 210.838 13.4733 211.832 14.4288C212.835 15.3763 213.632 16.5117 214.174 17.7671C214.716 19.0225 214.996 20.3658 214.996 21.7251C214.996 23.0845 214.716 24.4318 214.174 25.6832C213.632 26.9345 212.835 28.07 211.832 29.0215C209.798 30.9285 207.086 31.992 204.259 31.984C201.437 31.976 198.729 30.9006 196.707 28.9815C194.739 27.0465 193.638 24.4358 193.638 21.7171C193.638 18.9985 194.739 16.3878 196.707 14.4528C197.698 13.4853 198.877 12.7216 200.175 12.2099C201.474 11.6982 202.867 11.4463 204.272 11.4743H204.276Z" fill="black"/>
            <path d="M188.243 28.1859C189.139 28.1779 190.03 28.1099 190.918 27.986V31.5442C189.747 31.8281 188.547 31.98 187.343 32C185.009 32 183.189 31.4363 181.878 30.3208C180.568 29.2054 179.906 27.4823 179.906 25.1634V15.5562H176.615V11.922H179.906V6.76062H184.262V11.914H190.265V15.5482H184.282V24.7836C184.282 26.063 184.611 26.9385 185.272 27.4223C185.918 27.962 186.957 28.1899 188.251 28.1899L188.243 28.1859Z" fill="black"/>
            <path d="M166.688 11.4743C168.015 11.4343 169.334 11.6902 170.546 12.2139C171.758 12.7416 172.831 13.5252 173.69 14.5127L171.356 17.1114C170.752 16.4798 170.02 15.976 169.207 15.6322C168.393 15.2884 167.514 15.1124 166.626 15.1164C164.761 15.1164 163.874 15.7561 163.874 16.9955C163.861 17.2394 163.906 17.4793 164.005 17.6992C164.104 17.919 164.26 18.1149 164.453 18.2709C165.094 18.7186 165.801 19.0665 166.548 19.3103L168.48 20.074C170.024 20.6577 171.446 21.5092 172.679 22.5887C173.558 23.5082 174.031 24.7316 173.99 25.991C174.027 26.8426 173.854 27.6902 173.484 28.4618C173.114 29.2334 172.556 29.909 171.857 30.4248C170.3 31.5042 168.422 32.052 166.516 31.988C163.064 31.988 160.352 30.7486 158.38 28.1859L160.845 25.5472C162.653 27.4263 164.539 28.3458 166.516 28.3458C167.321 28.3858 168.122 28.1899 168.816 27.7861C169.112 27.6222 169.355 27.3823 169.519 27.0945C169.683 26.8066 169.766 26.4788 169.753 26.1469C169.762 25.8831 169.7 25.6192 169.577 25.3793C169.453 25.1434 169.277 24.9355 169.051 24.7836C168.381 24.3478 167.666 23.984 166.914 23.7042L164.86 22.8646C163.048 22.1489 161.737 21.3853 160.874 20.5097C160.439 20.062 160.102 19.5342 159.884 18.9585C159.666 18.3828 159.567 17.7671 159.6 17.1514C159.567 16.3518 159.736 15.5562 160.085 14.8326C160.434 14.1089 160.96 13.4773 161.614 12.9935C163.085 11.95 164.872 11.4183 166.692 11.4823L166.688 11.4743Z" fill="black"/>
            <path d="M153.983 11.91V31.5442H149.665V11.91H153.983ZM151.843 1.7991C152.225 1.79511 152.607 1.86707 152.96 2.011C153.314 2.15493 153.634 2.37082 153.897 2.63868C154.172 2.89056 154.39 3.19441 154.538 3.53024C154.686 3.86607 154.764 4.22989 154.76 4.5977C154.768 4.96552 154.698 5.33334 154.551 5.66917C154.403 6.009 154.181 6.31285 153.897 6.55673C153.63 6.82059 153.31 7.02449 152.956 7.16042C152.603 7.29636 152.225 7.36432 151.847 7.35633C151.461 7.37232 151.074 7.30835 150.713 7.17242C150.351 7.03649 150.027 6.82459 149.751 6.56072C149.472 6.31285 149.25 6.009 149.098 5.67317C148.95 5.33334 148.876 4.96952 148.888 4.6017C148.888 4.23389 148.962 3.87407 149.11 3.53424C149.258 3.1984 149.476 2.89456 149.751 2.64268C150.023 2.37082 150.347 2.15493 150.709 2.011C151.07 1.86707 151.457 1.79511 151.847 1.8031L151.843 1.7991Z" fill="black"/>
            <path class="second real" d="M132.638 0L113.98 26.9905H110.491L91.874 0H88.5458H82.625L68.4823 26.8506L65.8526 31.8481H71.5187L85.871 4.9975H89.1293L107.738 31.984H116.741L135.391 4.9975H138.888V31.984H144.02V0H132.638Z" fill="black"/>
            <path class="second fake" d="M132.638 0L113.98 26.9905H110.491L91.874 0H88.5458H82.625L68.4823 26.8506L65.8526 31.8481H71.5187L85.871 4.9975H89.1293L107.738 31.984H116.741L135.391 4.9975H138.888V31.984H144.02V0H132.638Z" fill="black"/>
            <path class="first real" d="M61.9287 26.8506L47.786 0H37.6946L23.552 26.8506H20.0594L5.91675 0H0L17.0189 31.8481H26.5925L41.0146 4.86157H44.466L58.8922 31.8481H62.7915L65.4253 26.8506H61.9287Z" fill="black"/>
            <path class="first fake" d="M61.9287 26.8506L47.786 0H37.6946L23.552 26.8506H20.0594L5.91675 0H0L17.0189 31.8481H26.5925L41.0146 4.86157H44.466L58.8922 31.8481H62.7915L65.4253 26.8506H61.9287Z" fill="black"/>
          </g>
          <defs>
            <clipPath id="clip0_2876_1287">
              <rect width="215" height="32" fill="white"/>
            </clipPath>
          </defs>
        </svg>
    
    .links-container 
      ul.social-list
        li.social-item
          a(href="#").social-link
            svg.social-icon.real 
              use(href="/images/icons.svg#icon-facebook")
            svg.social-icon.fake
              use(href="/images/icons.svg#icon-facebook")
        li.social-item
          a(href="#").social-link
            svg.social-icon.real
              use(href="/images/icons.svg#icon-inst")
            svg.social-icon.fake
              use(href="/images/icons.svg#icon-inst")
        li.social-item
          a(href="#").social-link
            svg.social-icon.real
              use(href="/images/icons.svg#icon-whatsapp")
            svg.social-icon.fake
              use(href="/images/icons.svg#icon-whatsapp")
        li.social-item
          a(href="#").social-link
            svg.social-icon.real
              use(href="/images/icons.svg#icon-telegram")
            svg.social-icon.fake
              use(href="/images/icons.svg#icon-telegram")
        li.social-item
          a(href="#").social-link
            svg.social-icon.real
              use(href="/images/icons.svg#icon-tiktok")
            svg.social-icon.fake
              use(href="/images/icons.svg#icon-tiktok")
        li.social-item
          a(href="#").social-link
            svg.social-icon.real
              use(href="/images/icons.svg#icon-youtube")
            svg.social-icon.fake
              use(href="/images/icons.svg#icon-youtube")
      
      
      button(type="button").pdf-btn 
        svg.pdf-icon
          use(href="/images/icons.svg#icon-pdf")
        span.pdf-text PDF Презентація
      

      a(href="tel:380970000077").phone-link
        svg.phone-icon
          use(href="/images/icons.svg#icon-phone")
        span.phone-text +38 (097) 000-00-77


      +general-btn({ text: 'Зворотній дзвінок', type: 'button' })


      button(type="button").burger-btn
        span.burger-text.real Меню
        span.burger-text.fake Меню
        svg.burger-icon
          use(href="/images/icons.svg#icon-burger-expand")

  




  
