.header {
  position: fixed;
  inset: 0;
  width: 100%;
  max-height: 100px;
  z-index: 10;
  border-bottom: 1px solid $black;
  background-color: rgba(245, 246, 241, 0.5);
  backdrop-filter: blur(20px);
  padding: vw(20);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: vw-laptop(215);
    max-height: 60px;
    cursor: pointer;

    @media screen and (min-width: 1512px) {
      width: 215px;
    }

    .first,
    .second {
      &.real {
        transform: translateY(0);
      }
      &.first.fake {
        transform: translateY(110%);
      }
      &.second.fake {
        transform: translateY(-110%);
      }
    }

    &:hover {
      .first {
        &.real {
          animation: exit-up-fast 0.2s forwards;
        }
        &.fake {
          animation: bounce-up-complex 0.4s forwards;
        }
      }
      .second {
        &.real {
          animation: exit-down-fast 0.2s forwards;
        }
        &.fake {
          animation: bounce-down-complex 0.4s forwards;
        }
      }
    }

    &:not(:hover) {
      .first {
        &.fake {
          animation: exit-down-fast 0.2s forwards;
        }
        &.real {
          animation: bounce-down-complex 0.4s forwards;
        }
      }

      .second {
        &.fake {
          animation: exit-up-fast 0.2s forwards;
        }
        &.real {
          animation: bounce-up-complex 0.4s forwards;
        }
      }
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    gap: vw(48);

    .social-list {
      display: flex;
      align-items: center;
      gap: 12px;

      .social-item {
        overflow: hidden;
        position: relative;

        .social-link {
          .social-icon {
            width: vw-laptop(24);
            height: vw-laptop(24);
            fill: $black;

            @media screen and (min-width: 1512px) {
              width: 24px;
              height: 24px;
            }
          }

          .real {
            display: block;
            transition: all 0.4s ease-in-out;
            transform: translateY(0%);
          }

          .fake {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(105%);
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            .real {
              transform: translateY(-105%);
            }

            .fake {
              transform: translateY(0%);
            }
          }
        }
      }
    }

    .pdf-btn {
      display: flex;
      align-items: center;
      gap: 12px;

      .pdf-icon {
        width: vw-laptop(24);
        height: vw-laptop(24);
        fill: $black;
        transform-origin: 50% 50%;
        transform-box: fill-box;

        @media screen and (min-width: 1512px) {
          width: 24px;
          height: 24px;
        }
      }

      .pdf-text {
        @include font-h4-semibold;
        color: $black;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $black;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform 0.3s ease-out;
        }
      }

      &:hover {
        .pdf-icon {
          animation: wobble 1s ease infinite;
        }

        .pdf-text {
          &::after {
            transform: scaleX(100%);
          }
        }
      }
    }

    .phone-link {
      display: flex;
      align-items: center;
      gap: 12px;

      .phone-icon {
        width: vw-laptop(24);
        height: vw-laptop(24);
        fill: $black;
        transform-origin: 50% 50%;
        transform-box: fill-box;

        @media screen and (min-width: 1512px) {
          width: 24px;
          height: 24px;
        }
      }

      .phone-text {
        @include font-h4-semibold;
        color: $black;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $black;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform 0.3s ease-out;
        }
      }

      &:hover {
        .phone-icon {
          animation: wobble 1s ease infinite;
        }

        .phone-text {
          &::after {
            transform: scaleX(100%);
          }
        }
      }
    }
  }

  .burger-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    position: relative;

    .burger-text {
      @include font-h4-semibold;
      color: $black;

      &.real {
        display: block;
        transition: all 0.4s ease-in-out;
        transform: translateY(0%);
      }

      &.fake {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(105%);
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      .burger-text {
        &.real {
          transform: translateY(-105%);
        }

        &.fake {
          transform: translateY(0%);
        }
      }

      .burger-icon {
        transform: scaleY(0.7);
      }
    }

    .burger-icon {
      width: vw-laptop(24);
      height: vw-laptop(24);
      position: relative;
      overflow: hidden;
      transition: transform 0.4s ease-in-out;
      display: block;
      transform: scaleY(1);

      @media screen and (min-width: 1512px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-2px) rotate(-5deg);
  }
  30% {
    transform: translateX(1px) rotate(5deg);
  }
  45% {
    transform: translateX(-1px) rotate(-2.7777777778deg);
  }
  60% {
    transform: translateX(0.6060606061px) rotate(1.6666666667deg);
  }
  75% {
    transform: translateX(-0.3636363636px) rotate(-1deg);
  }
}

@keyframes bounce-up-complex {
  0% {
    transform: translateY(110%);
  }
  40% {
    transform: translateY(-35%);
  }
  55% {
    transform: translateY(8%);
  }
  70% {
    transform: translateY(-15%);
  }
  85% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-down-complex {
  0% {
    transform: translateY(-110%);
  }
  40% {
    transform: translateY(35%);
  }
  55% {
    transform: translateY(-8%);
  }
  70% {
    transform: translateY(15%);
  }
  85% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes exit-up-fast {
  100% {
    transform: translateY(-110%);
  }
}
@keyframes exit-down-fast {
  100% {
    transform: translateY(110%);
  }
}
