.news-catalog-section {
  padding-top: vw(200);
  padding-bottom: vw(140);

  .news-catalog-title {
    @include font-h2;
    color: $brown;
    text-align: center;
    margin-bottom: vw(40);
    text-transform: uppercase;
  }

  .news-catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: vw(140);
    border-bottom: 1px solid $black;
    margin-bottom: vw(140);
  }
}
