extends /../index.pug

block variable
  - var title_page = 'Головна сторінка'

block meta
  title= title_page
  meta(name='description' content='Опис головної сторінки для SEO')

block scripts
  script(type="module", src='/src/pages/home/home.js')
  script(type="module", src='/src/pages/home/hero-section/hero-section.js')
  script(type="module", src='/src/pages/home/about-section/about-section.js')
  script(type="module", src='/src/pages/home/commercial-real-estate-section/commercial-real-estate-section.js')
  script(type="module", src='/src/pages/home/infrastructure-section/infrastructure-section.js')
  script(type="module", src='/src/pages/home/genplan-section/genplan-section.js')
  script(type="module", src='/src/pages/home/w-diagonal-section/w-diagonal-section.js')
  script(type="module", src='/src/pages/home/choose-real-estate-section/choose-real-estate-section.js')
  script(type="module", src='/src/pages/home/panorama-section/panorama-section.js')
  script(type="module", src='/src/pages/home/location-section/location-section.js')
  script(type="module", src='/src/pages/home/stats-section/stats-section.js')
  script(type="module", src='/src/pages/home/module-adv-section/module-adv-section.js')

block header
  +header

block content
  include ./hero-section/hero-section.pug
  include ./about-section/about-section.pug
  include ./commercial-real-estate-section/commercial-real-estate-section.pug
  include ./infrastructure-section/infrastructure-section.pug
  include ./genplan-section/genplan-section.pug

  +form-section(
    "Стати партнером", 
    "/images/logo.svg", 
    "/images/form-section/form-img-without-sky.jpg", 
    "partners",
    "Ми завжди відкриті до нових можливостей"
  )

  include ./w-diagonal-section/w-diagonal-section.pug
  include ./choose-real-estate-section/choose-real-estate-section.pug
  include ./panorama-section/panorama-section.pug
  include ./location-section/location-section.pug
  include ./stats-section/stats-section.pug
  include ./module-adv-section/module-adv-section.pug

  +form-section(
    "Дізнайтесь актуальну вартість", 
    "", 
    "/images/form-section/form-img-without-sky-2.jpg", 
    "price",
    "Ціни та наявність у реальному часі"
  )

block footer
  +footer