extends /../index.pug

block variable
  - var title_page = 'Головна сторінка'

block meta
  title= title_page
  meta(name='description' content='Опис головної сторінки для SEO')

block scripts
  script(type="module", src='/src/pages/home/home.js')
  script(type="module", src='/src/pages/home/hero-section/hero-section.js')
  script(type="module", src='/src/pages/home/about-section/about-section.js')

block header
  +header

block content
  include ./hero-section/hero-section.pug
  include ./about-section/about-section.pug

block footer
  +footer