extends /../index.pug

block variable
  - var title_page = 'Головна сторінка'

block meta
  title= title_page
  meta(name='description' content='Опис головної сторінки для SEO')

block scripts
  script(type="module", src='/src/pages/home/home.js')

block header
  +header

block content
  include ./hero-section/hero-section.pug
  include ./about-section/about-section.pug
  include ./commercial-real-estate-section/commercial-real-estate-section.pug
  //- include ./infrastructure-section/infrastructure-section.pug
  //- include ./genplan-section/genplan-section.pug

  //- +form-section(
  //-   "Стати партнером", 
  //-   "/images/logo.svg", 
  //-   "/images/form-section/form-img-without-sky.jpg", 
  //-   "partners",
  //-   "Ми завжди відкриті до нових можливостей"
  //- )

  //- include ./w-diagonal-section/w-diagonal-section.pug
  //- include ./choose-real-estate-section/choose-real-estate-section.pug
  //- include ./panorama-section/panorama-section.pug
  //- include ./location-section/location-section.pug
  //- include ./stats-section/stats-section.pug
  //- include ./advantages-section/advantages-section.pug

  //- +form-section(
  //-   "Дізнайтесь актуальну вартість", 
  //-   "", 
  //-   "/images/form-section/form-img-without-sky-2.jpg", 
  //-   "price",
  //-   "Ціни та наявність у реальному часі"
  //- )

  //- include ./gallery-section/gallery-section.pug
  //- include ./developer-section/developer-section.pug
  //- include ./construction-progress-section/construction-progress-section.pug
  //- include ./news-section/news-section.pug
  //- include ./docs-section/docs-section.pug
  
  //- +contacts

block footer
  //- +footer