.advantages-section {
  min-height: vw(900);
  display: flex;
  align-items: center;
  position: relative;
  padding: vw(100) 0;
  overflow: hidden;

  .advantages-swiper {
    width: 100%;
    overflow: visible;
    position: static;
  }

  .swiper-wrapper {
    will-change: transform;
  }

  .advantages__title {
    @include font-h2;
    color: $brown;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    top: 62%;
    left: vw(150);
    transform: translateY(-60%);
    max-width: vw(366);
    z-index: 10;
  }

  .adv-counter {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    gap: vw(60);
    position: absolute;
    left: calc(50% - vw(470));
    top: calc(vw(760) - vw(60));
    z-index: 10;
    pointer-events: none;

    .main-count {
      @include font-huge;
      $gap: 10px;
      color: $white;
      display: flex;
      flex-direction: column;
      gap: $gap;
      height: 1em;
      line-height: 1;
      clip-path: inset(0% -100% 0% -100%);

      span {
        display: block;
        height: 1em;
        transform: translateY(0);
      }

      .next {
        opacity: 0;
      }

      &.is-changing {
        span {
          transition: $counter-transition;
        }

        .current {
          transform: translateY(calc(-100% - #{$gap}));
        }
        .next {
          transform: translateY(calc(-100% - #{$gap}));
          opacity: 1;
        }
      }
    }

    .total {
      @include font-h3;
      color: $black;
      padding-bottom: 20px;
    }
  }

  .advantages-nav-buttons {
    right: -15%;
    top: 50%;
    transform: translateY(vw(310));
  }

  .advantages-text-block {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: vw(100);
    left: auto;

    max-width: vw-laptop(348);

    .swiper-wrapper {
      .swiper-slide {
        .advantages-text {
          @include font-h3;
          color: $brown;
        }
      }
    }
  }

  .advantages-title-info-text {
    width: 330px;
  }

  .advantages-list {
    width: 100%;
    display: flex;
    align-items: start;
    height: vw(760);

    .advantages-item {
      display: flex;
      flex-direction: column;
      width: vw(380);
      height: vw(380);
      cursor: pointer;
      transition: $counter-transition;
      will-change: width, height;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;

      .advantages-image-block {
        overflow: hidden;
        flex-grow: 1;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
      }

      &.swiper-slide-active {
        width: vw(760);
        height: vw(760);
      }

      .advantages-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $counter-transition;
        backface-visibility: hidden;
        transition: $counter-transition;
      }
    }
  }
}
