.phone-link {
  display: flex;
  align-items: center;
  gap: 12px;

  @include to(1023px) {
    gap: 8px;
    position: absolute;
    top: 24px;
  }

  @include to(767px) {
    top: 22px;
  }

  .phone-icon {
    width: vw-laptop(24);
    height: vw-laptop(24);
    fill: $black;
    transform-origin: 50% 50%;
    transform-box: fill-box;

    @include from(1512) {
      width: 24px;
      height: 24px;
    }

    @include to(1023px) {
      width: 24px;
      height: 24px;
    }
  }

  .phone-text {
    @include font-h4-semibold;
    color: $black;
    position: relative;

    @include to(1023px) {
      font-size: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
      transform-origin: left;
      transform: scaleX(0);
      transition: $transition;
    }
  }

  &:hover {
    .phone-icon {
      animation: wobble 1s ease infinite;
    }

    .phone-text {
      &::after {
        transform: scaleX(100%);
      }
    }
  }
}

.menu-big-list {
  display: flex;
  flex-direction: column;
  gap: vw(10);
  margin-bottom: vw(60);

  @include to(1023px) {
    gap: 10px;
    margin-bottom: 60px;
  }

  @include to(767px) {
    margin-bottom: 20px;
  }

  .menu-big-link {
    @include font-h2;
    color: $black;
    text-transform: uppercase;

    @include to(1023px) {
      font-size: 36px;
    }
  }
}

.menu-small-list {
  display: flex;
  flex-direction: column;
  gap: vw(4);

  @include to(1023px) {
    gap: 4px;
  }

  @include to(767px) {
    margin: 0 auto;
  }

  .menu-small-link {
    @include font-h4-semibold;
    color: $black;

    @include to(1023px) {
      font-size: 20px;
    }
  }
}

.menu-big-link,
.menu-small-link {
  overflow: hidden;
  position: relative;
  display: block; // ← додай
  line-height: 1.2; // ← щоб висота була явна

  .menu-link-text {
    display: block;
    transition: $transition;

    &.real {
      transform: translateY(0%);
    }

    &.fake {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(105%);
    }
  }

  &:hover {
    .menu-link-text {
      &.real {
        transform: translateY(-105%);
      }
      &.fake {
        transform: translateY(0%);
      }
    }
  }
}
