.menu-big-list {
  display: flex;
  flex-direction: column;
  gap: vw(10);
  margin-bottom: vw(60);

  .menu-big-item {
    .menu-big-link {
      @include font-h2;
      color: $black;
      text-transform: uppercase;
    }
  }
}

.menu-small-list {
  display: flex;
  flex-direction: column;
  gap: vw(4);

  .menu-small-item {
    .menu-small-link {
      @include font-h4-semibold;
      color: $black;
    }
  }
}
