include /shared/components/popup/popup.pug

mixin call-popup()
  +popup('call-popup').js-call-popup
    .call-popup-block
      .call-popup-title Залишилися запитання?
      .call-popup-text Ми допоможемо підібрати планування та відповімо на усі ваші запитання!
      +form('call-popup')