.commercial-section {
  display: flex;
  height: calc(100vh - 100px);

  .commercial-left-block {
    flex: 0 0 50%;
    min-width: 0;
    position: relative;
    overflow: hidden;
    padding: vw(60);
    background-color: #efeded;

    .commercial-left-title {
      @include font-h3;
      color: $black;
      margin-bottom: 40px;
      position: relative;
      z-index: 3;
    }

    .commercial-left-texts-block {
      position: relative;
      display: flex;
      align-items: start;
      justify-content: space-between;
      z-index: 3;
      gap: vw(40);

      .commercial-left-text {
        @include font-body;
        color: $black;
        max-width: 370px;
      }
    }

    .commercial-left-image-block {
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      aspect-ratio: 960 / 800;
      // z-index: -1;

      .commercial-left-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .commercial-right-block {
    flex: 0 0 50%;
    min-width: 0;
    position: relative;
    padding: vw(60);
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(212, 209, 202, 0) 0%, #d4d1ca 100%);
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .commercial-right-title {
      @include font-h3;
      color: $black;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .commercial-right-texts-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      max-width: vw-laptop(340);

      @media screen and (min-width: 1512px) {
        max-width: 340px;
      }

      .commercial-right-text {
        @include font-body;
        color: $black;
        max-width: vw-laptop(320);

        @media screen and (min-width: 1512px) {
          max-width: 340px;
        }
      }
    }

    .commercial-right-btn {
    }

    .commercial-sign-image-block {
      position: absolute;
      bottom: 0;
      z-index: -1;
      max-width: vw(872.219);
      aspect-ratio: 872 / 424;

      .commercial-sign-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .commercial-man-image-block {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: vw(610);
      aspect-ratio: 610 / 800;

      .commercial-man-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
