.commercial-section {
  display: flex;
  height: calc(100vh - 100px);

  @include to(1023px) {
    flex-direction: column;
    height: auto;
    border: 1px solid $black;
  }

  .commercial-left-block {
    position: relative;
    flex: 0 0 50%;
    min-width: 0;
    padding: vw(60);
    overflow: hidden;
    background-color: #efeded;

    @include to(1023px) {
      flex: unset;
      height: 700px;
      padding: 100px 20px 0;
      border-bottom: 1px solid $black;
    }

    @include to(767px) {
      height: 530px;
      padding-top: 60px;
    }

    .commercial-left-title {
      @include font-h3;

      position: relative;
      z-index: 3;
      margin-bottom: 40px;
      color: $black;

      @include to(1023px) {
        font-size: 36px;
      }

      @include to(767px) {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }

    .commercial-left-texts-block {
      position: relative;
      z-index: 3;
      display: flex;
      gap: vw(40);
      align-items: start;
      justify-content: space-between;

      @include to(1023px) {
        gap: 60px;
      }

      @include to(767px) {
        flex-direction: column;
        gap: 12px;
      }

      .commercial-left-text {
        @include font-body;

        width: 50%;
        max-width: 370px;
        color: $black;

        @include to(1023px) {
          width: 100%;
          font-size: 16px;
        }

        @include to(767px) {
          font-size: 14px;
        }
      }
    }

    .commercial-phone-link {
      position: absolute;
      top: unset;
      bottom: vw(220);
      justify-content: center;
      width: 100%;
      padding-right: vw(120);

      @include to(1023px) {
        bottom: 100px;
        padding-right: 40px;
      }

      @include to(767px) {
        bottom: 60px;
      }

      .phone-text {
        font-size: vw-laptop(20);

        @include to(1023px) {
          font-size: 16px !important;
        }

        @include to(767px) {
          font-size: 14px !important;
        }
      }

      .phone-icon {
        width: 16px;
        height: 16px;
      }
    }

    .commercial-left-image-block {
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      aspect-ratio: 960 / 800;

      .commercial-left-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .commercial-right-block {
    position: relative;
    flex: 0 0 50%;
    min-width: 0;
    padding: vw(60);
    overflow: hidden;

    @include to(1023px) {
      flex: unset;
      max-height: 800px;
      padding: 100px 20px;
    }

    @include to(767px) {
      min-height: 700px;
      padding: 60px 20px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(180deg, rgb(212 209 202 / 0%) 0%, #d4d1ca 100%);
    }

    .commercial-right-title {
      @include font-h3;

      margin-bottom: 40px;
      color: $black;

      // display: flex;
      // flex-direction: column;
      // gap: 2px;

      @include to(1023px) {
        margin-bottom: 36px;
        font-size: 36px;
      }

      @include to(767px) {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }

    .commercial-right-texts-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: vw-laptop(340);
      margin-bottom: 20px;

      @include from(1512) {
        max-width: 340px;
      }

      @include to(1023px) {
        max-width: 340px;
      }

      @include to(767px) {
        max-width: 100%;
      }

      .commercial-right-text {
        @include font-body;

        max-width: vw-laptop(320);
        color: $black;

        @include from(1512) {
          max-width: 340px;
        }

        @include to(1023px) {
          max-width: none;
          font-size: 16px;
        }

        @include to(767px) {
          max-width: unset;
          font-size: 14px;
        }
      }
    }

    .commercial-sign-image-block {
      position: absolute;
      bottom: 0;
      z-index: -1;
      max-width: vw(872.219);
      aspect-ratio: 872 / 424;

      @include to(1023px) {
        max-width: vw-tablet(872.219);
      }

      .commercial-sign-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .commercial-man-image-block {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: vw(800);
      aspect-ratio: 610 / 800;
      opacity: 1;
      will-change: transform, opacity;

      @include to(1023px) {
        // max-height: vw-tablet(700);
        max-height: 580px;
      }

      @include to(767px) {
        max-height: vw-tablet(800);
      }

      .commercial-man-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
