include ../../../shared/components/general-btn/general-btn.pug

section.commercial-section(id="commercial")
  .commercial-left-block
    p.commercial-left-title WMisto — це 11 будинків, 2 283 квартири з панорамними вікнами, індивідуальним газовим опаленням та висотою стель до 4х метрів.

    .commercial-left-texts-block 
      p.commercial-left-text 1000 унікальних планувань — від смарт-квартир до пентхаусів. Масштаб, що формує окрему міську екосистему. Якщо з’явилося запитання: «А де ж паркувати авто?» — ми про все подбали.
      p.commercial-left-text У Wmisto передбачено два однорівневі і один трирівневий паркінги, приватні надземні гаражі й сотні гостьових паркомісць
      
    .commercial-left-image-block 
      img.commercial-left-img(src="/images/commercial-real-estate/commercial-real-estate-build.png", alt="Build" loading="lazy")
    
  .commercial-right-block 
    h2.commercial-right-title 
      span Комерційна 
      span нерухомість

    .commercial-right-texts-block 
      p.commercial-right-text Торговельний центр, галерея ресторанів, кав’ярень, бутіків і сервісів уздовж W-Діагоналі — це новий центр тяжіння у Вінниці.
      p.commercial-right-text Живий променад формує новий публічний простір на Старому місті і забезпечує постійний потік людей.
      p.commercial-right-text Інвестуючи в комерційну нерухомість у Wmisto, ти купуєш трафік і престиж локації.
      p.commercial-right-text Руїни давно закритого цегельного заводу перетворюються на комфортний квартал, пульсуючий та енергійний. І твій бізнес є частиною цієї трансформації.
      
    +general-btn({text: "Дізнатися більше", type:'button'})

    .commercial-sign-image-block
      img(src="/images/commercial-real-estate/commercial-real-estate-sign.svg", alt="").commercial-sign-image

    .commercial-man-image-block 
      img(src="/images/commercial-real-estate/commercial-real-estate-man.png" alt="Man" loading="lazy").commercial-man-img
    