section.about-section(id="about")
  .about-text-block
    h2.about-title Про комплекс 
    
    svg(width="70" height="16").about-icon
      use(href="/images/icons.svg#icon-sign")
    
    .about-text-swiper.swiper
      .swiper-wrapper
        .swiper-slide
          p.about-text Житловий квартал бізнес-класу у найвищій точці міста з панорамними краєвидами та відкритим променадом, протяжністю у 420 метрів, що проходить крізь увесь простір, поєднуючи зелені зони, галерею крамниць та ресторанів.
        .swiper-slide
          p.about-text 11 будинків змінної поверховості ( від 6 до 9 поверхів) формують живу, різноманітну архітектуру кварталу без відчуття тиску висоток. Кожен будинок має власний характер і пластику фасаду, створюючи цілісне, але не одноманітне середовище, де простір дихає разом із тобою.
        .swiper-slide
          p.about-text W-Діагональ — це відкрите серце кварталу: 1.1 га зеленого променаду для дозвілля, культурних подій і щоденного життя. Саме вона формує нову міську культуру та стає точкою тяжіння не лише для мешканців, а й для всієї Вінниці.
        .swiper-slide
          p.about-text Комерційна лінія вздовж W-Діагоналі та окремий торговельний центр формують повноцінну міську інфраструктуру прямо всередині кварталу. Твій бізнес зростає разом із життям району, а все необхідне від кафешок до сервісів – знаходиться біля твого дому.
        .swiper-slide
          p.about-text Міський дитячий садок на 160 місць, площею 4590 м². Кілька хвилин і твоя дитина вже у безпечному та захищеному просторі, створеному для щасливого дитинства.
        .swiper-slide
          p.about-text Новий квартал розкриває панорами Вінниці так, що перехоплює подих: світанки над містом, вечірні вогні та види на набережну з фонтаном. Це висота, з якої місто виглядає інакше — масштабніше, світліше, по-справжньому твоїм.

    .nav-buttons-block 
      button(type="button").button-prev
        svg(width="24" height="24").nav-button-icon-prev
          use(href="/images/icons.svg#icon-arrow")
      button(type="button").button-next
        svg(width="24" height="24").nav-button-icon-next
          use(href="/images/icons.svg#icon-arrow")
  
  .slider-block
    .slider-big.swiper
      .swiper-wrapper
        .swiper-slide
          img.slider-img-big(src="/images/about/about-main-1.jpg", alt="")
        .swiper-slide
          img.slider-img-big(src="/images/about/about-main-2.jpg", alt="")
        .swiper-slide
          img.slider-img-big(src="/images/about/about-main-3.jpg", alt="")
        .swiper-slide
          img.slider-img-big(src="/images/about/about-main-4.jpg", alt="")
        .swiper-slide
          img.slider-img-big(src="/images/about/about-main-5.jpg", alt="")
        .swiper-slide
          img.slider-img-big(src="/images/about/about-main-6.jpg", alt="")

      p.main-count
        span.current 
        span.next
      p.total
  
    .slider-small.swiper
      .swiper-wrapper
        .swiper-slide
          img.slider-img-small(src="/images/about/about-sub-1.jpg")
        .swiper-slide
          img.slider-img-small(src="/images/about/about-sub-2.jpg")
        .swiper-slide
          img.slider-img-small(src="/images/about/about-sub-3.jpg")
        .swiper-slide
          img.slider-img-small(src="/images/about/about-sub-4.jpg")
        .swiper-slide
          img.slider-img-small(src="/images/about/about-sub-5.jpg")
        .swiper-slide
          img.slider-img-small(src="/images/about/about-sub-6.jpg")
    

      
