.about-section {
  display: flex;
  height: calc(100vh - 100px);
  scroll-margin-top: 200px;

  .about-text-block {
    width: 50%;
    flex-shrink: 0;
    overflow: hidden;

    background-color: $ochre;
    padding: 60px 20px;
    position: relative;

    .about-title {
      @include font-h1;
      color: $black;
      margin-bottom: 20px;
      text-align: center;
    }

    .about-text {
      @include font-h4-semibold;
      color: $black;
      text-align: center;
      max-width: vw-laptop(480);
      margin: 0 auto;

      @media screen and (min-width: 1512px) {
        max-width: 480px;
      }
    }

    .about-icon {
      display: block;
      margin: 0 auto;
      fill: $blue;
      margin-bottom: 20px;
    }

    .about-nav-buttons {
      bottom: vw(100);
    }
  }

  .slider-block {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    min-width: 0;

    .slider-big,
    .slider-small {
      min-width: 0;
      width: 100%;
    }

    .slider-big {
      height: calc(100vh - 150px);
      position: relative;
      width: 70%;
      flex-shrink: 0;
      overflow: visible !important;
      clip-path: inset(0 0 -100px 0);

      .slider-img-big {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .main-count {
        @include font-huge;
        $gap: 10px;

        color: $white;
        position: absolute;
        bottom: vw(-80);
        left: 50%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: $gap;
        height: 1em;
        line-height: 1;
        clip-path: inset(0% -100% 0% -100%);

        span {
          display: block;
          height: 1em;
          transform: translateY(0);
        }

        .next {
          opacity: 0;
        }

        &.is-changing {
          span {
            transition:
              transform 0.9s cubic-bezier(0.36, 1, 0.86, 1),
              opacity 0.4s ease-out;
          }

          .current {
            transform: translateY(calc(-100% - #{$gap}));
          }
          .next {
            transform: translateY(calc(-100% - #{$gap}));
            opacity: 1;
          }
        }
      }

      .total {
        @include font-h3;
        color: $black;
        text-align: right;
        margin-right: 2px;
      }
    }

    .slider-small {
      width: 30%;
      flex-shrink: 0;
      overflow: hidden;
      height: calc(100vh - 220px);

      .slider-img-small {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.count-move {
  transform: translateY(-100%); // Уїхала вгору
}
