.form-section {
  display: flex;
  gap: vw(60);
  padding: vw(100) vw(60);
  overflow: hidden;
  position: relative;

  background:
    linear-gradient(180deg, rgba(136, 151, 180, 0) 0%, rgba(136, 151, 180, 0.9) 100%),
    linear-gradient(0deg, rgba(136, 151, 180, 0.8) 0%, rgba(136, 151, 180, 0.8) 100%);

  .form-left-block {
    flex: 0 0 50%;

    .form-title {
      @include font-h1;
      color: $black;
      max-width: vw-laptop(550);

      @include laptop-1512 {
        max-width: 580px;
      }

      @media screen and (min-width: 1920px) {
        max-width: 720px;
      }
    }

    .form-logo-block {
      max-width: vw(453);
      aspect-ratio: 453 / 70;
      margin-bottom: 20px;

      .form-logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .form-text {
      @include font-h3;
      color: $black;
    }
  }

  .form-right-block {
    flex: 0 0 45%;

    .form-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    .form-image-block {
      position: absolute;
      right: -35%;
      top: -150px;
      width: 100%;
      height: 800px;
      z-index: -1;
      filter: grayscale(100%);

      .form-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .success-popup-block {
      position: absolute;
      inset: 0;
      z-index: 10;
      background-color: $blue;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: vw(30);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.4s ease-in-out;
      width: 100%;

      &.is-active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .success-popup-image-block {
        display: none;
      }
    }
  }
}
