.form-section {
  display: flex;
  gap: vw(60);
  padding: vw(100) vw(60);
  overflow: hidden;
  position: relative;

  @include to(1023px) {
    padding: 100px 60px;
    gap: 60px;
  }

  @include to(767px) {
    // height: 100svh;
    min-height: 100svh;
    height: auto; // прибирає фіксовану висоту
    justify-content: center;
    padding: 40px 20px;
    gap: 40px;
  }

  @include to(600px) {
    min-height: calc(var(--vh, 1vh) * 100);
    height: auto;
  }

  background:
    linear-gradient(180deg, rgba(136, 151, 180, 0) 0%, rgba(136, 151, 180, 0.9) 100%),
    linear-gradient(0deg, rgba(136, 151, 180, 0.8) 0%, rgba(136, 151, 180, 0.8) 100%);

  @include to(1023px) {
    padding: 100px 60px;
    flex-direction: column;
  }

  @include to(767px) {
    padding: 40px 20px;
  }

  .form-left-block {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include to(1023px) {
      flex: 0 0 0;
      justify-content: unset;
      // margin-bottom: 60px;
    }

    @include to(767px) {
      // margin-bottom: 40px;
    }

    .form-title {
      @include font-h1;
      color: $black;
      max-width: vw-laptop(550);

      @include from(1512) {
        max-width: 580px;
      }

      @media screen and (min-width: 1920px) {
        max-width: 720px;
      }

      @include to(1023px) {
        font-size: 64px;
        max-width: none;
      }

      @include to(767px) {
        font-size: 42px;
        margin-bottom: 12px;
        letter-spacing: -2.52px;
      }
    }

    .form-logo-block {
      max-width: vw(453);
      aspect-ratio: 453 / 70;
      margin-bottom: 20px;

      @include to(1023px) {
        max-width: 453px;
      }

      .form-logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .form-text {
      @include font-h3;
      color: $black;

      @include to(1023px) {
        font-size: 36px;
      }

      @include to(767px) {
        font-size: 14px;
        letter-spacing: -0.56px;
      }
    }
  }

  .form-right-block {
    flex: 0 0 45%;

    .form-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    .form-image-block {
      position: absolute;
      right: -35%;
      top: -150px;
      width: 100%;
      height: 800px;
      z-index: -1;
      filter: grayscale(100%);

      @include to(1023px) {
        top: 200px;
        left: 0;
      }

      @include to(767px) {
        left: 100px;
      }

      .form-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .success-popup-block {
      position: absolute;
      inset: 0;
      z-index: 10;
      background-color: $blue;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: vw(30);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.4s ease-in-out;
      width: 100%;

      .success-popup-title {
        @include to(1023px) {
          font-size: 64px;
        }

        @include to(767px) {
          font-size: 42px;
        }
      }

      .success-popup-text {
        @include to(1023px) {
          font-size: 20px;
        }

        @include to(767px) {
          font-size: 16px;
        }
      }

      &.is-active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .popup-sign-block,
      .success-popup-image-block {
        display: none;
      }
    }
  }
}
