.news-single-section {
  padding-bottom: vw(200);

  @include to(1023px) {
    padding-bottom: 140px;
  }

  @include to(767px) {
    padding-bottom: 60px;
  }

  .news-single-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    @include to(1023px) {
      grid-template-columns: 1fr;
    }
  }

  .news-single-title-social-block {
    position: sticky;
    top: 100px;
    z-index: 10;
    padding: vw(40);
    border-bottom: 1px solid $brown;
    border-left: 1px solid $brown;

    @include to(1023px) {
      position: static;
      padding: 40px;
      margin-top: 100px;
    }

    @include to(767px) {
      padding: 40px 20px;
      margin-top: 72px;
    }

    .news-back-date-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: vw(40);

      .back-link-block .back-link {
        position: static;
      }

      @include to(1023px) {
        margin-bottom: 40px;
      }

      @include to(767px) {
        margin-bottom: 20px;
      }

      .news-date {
        @include font-body;

        color: $brown;
      }
    }

    .news-title {
      @include font-h3;

      margin-bottom: vw(40);
      color: $brown;

      @include to(1023px) {
        margin-bottom: 40px;
      }

      @include to(767px) {
        margin-bottom: 20px;
      }
    }

    .news-social-list {
      display: flex;
      flex-wrap: wrap;
      gap: vw(20);
      align-items: center;

      @include to(1023px) {
        gap: 20px;
      }

      .news-social-item {
        .news-social-link {
          display: flex;
          gap: vw(16);
          align-items: center;

          @include to(1023px) {
            gap: 8px;
          }

          .news-social-icon {
            width: vw-laptop(24);
            height: vw-laptop(24);
            fill: $brown;

            @include from(1512) {
              width: 24px;
              height: 24px;
            }

            @include to(1023px) {
              width: 24px;
              height: 24px;
            }
          }

          .news-social-text {
            @include font-body;

            line-height: 120%;
            color: $black;
          }
        }
      }
    }
  }

  .news-single-content-block {
    min-width: 0;
    padding: vw(40);
    margin-top: vw(100);
    border-right: 1px solid $brown;
    border-bottom: 1px solid $brown;
    border-left: 1px solid $brown;

    @include to(1023px) {
      padding: 40px;
      margin-top: 0;
    }

    @include to(767px) {
      padding: 40px 20px;
    }

    .news-single-text {
      @include font-h4-regular;

      margin-bottom: vw(40);
      color: $black;

      @include to(1023px) {
        margin-bottom: 40px;
      }

      @include to(767px) {
        margin-bottom: 20px;
      }
    }

    .news-single-list-title {
      @include font-h4-semibold;

      margin-bottom: vw(12);
      color: $black;

      @include to(1023px) {
        margin-bottom: 12px;
      }
    }

    .news-single-list {
      margin-bottom: vw(40);

      @include to(1023px) {
        margin-bottom: 40px;
      }

      @include to(1023px) {
        margin-bottom: 20px;
      }

      .news-single-item {
        @include font-body;

        position: relative;
        padding-left: vw(40);
        color: $black;

        @include to(1023px) {
          padding-left: 20px;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          content: "•";
          transform: translateY(-50%);
        }
      }
    }

    .news-single-swiper-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: vw(60);

      @include to(1023px) {
        margin-bottom: 60px;
      }

      .news-single-swiper {
        width: 100%;
        height: vw(485);
        overflow: hidden;

        @include to(1023px) {
          height: auto;
          aspect-ratio: 688 /404;
        }

        @include to(767px) {
          aspect-ratio: 335/436;
        }

        .swiper-slide {
          height: 100%;
          padding: 0 vw(100);

          @include to(1023px) {
            padding: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include to(1023px) {
              object-fit: contain;
            }
          }
        }
      }

      .news-single-nav {
        position: absolute;
        bottom: vw(-30);
        left: 50%;
        z-index: 20;
        display: flex;
        gap: vw(8);
        transform: translateX(-50%);

        @include to(1023px) {
          bottom: -30px;
          gap: 8px;
        }

        .news-single-button-prev,
        .news-single-button-next {
          width: vw(64);
          height: vw(64);

          @include to(1023px) {
            width: 64px;
            height: 64px;
          }

          @include to(767px) {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    .news-single-image-block {
      margin-bottom: vw(40);

      @include to(1023px) {
        margin-bottom: 40px;
      }

      @include to(767px) {
        height: auto;
        aspect-ratio: 335/396;
      }

      .news-single-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .news-single-video {
      width: 100%;
      margin-bottom: vw(40);

      @include to(1023px) {
        margin-bottom: 40px;
      }

      .news-single-video-wrap {
        position: relative;
        padding-bottom: 52.5%;
        margin-top: 20px;

        iframe,
        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          border: none;
        }
      }
    }

    .general-btn {
      margin-top: vw(30);

      @include to(1023px) {
        margin-top: 30px;
      }

      @include to(767px) {
        margin-top: 20px;
      }
    }
  }
}
