mixin general-btn(options = {}) 
  - const { type = 'button', href = '', text = '', customClass = '' } = options

  if href && href !== ''
    a(href=href class=`general-btn ${customClass}`)&attributes(attributes)
      span.general-text
        = text
        if block
          block
  else
    button(type=type class=`general-btn ${customClass}`)&attributes(attributes)

      if attributes['data-btn-submit'] !== undefined
        span.general-text(data-btn-submit-text="data-btn-submit-text")
          = text
          if block
            block
      else
        span.general-text
          = text
          if block
            block