.general-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background-color: $brown;
  border: 1px solid $brown;
  padding: vw(18) vw(28);
  position: relative;
  overflow: hidden;
  color: $white;
  cursor: pointer;
  transition: $transition;

  @include to(1023px) {
    padding: 16px 28px;
  }

  @include to(767px) {
    padding: 12px;
  }

  .general-text {
    @include font-h4-semibold;
    color: $white;
    transition: $transition;
    position: relative;
    z-index: 2;

    @include to(1023px) {
      font-size: 20px;
    }

    @include to(767px) {
      font-size: 14px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    border-radius: inherit;
    transition: $transition;
    transform: translateX(-101%);
    z-index: 1;
  }

  &:hover {
    border-color: $brown;

    &::before {
      transform: translateX(0);
    }

    .general-text {
      color: $black;
    }

    svg {
      fill: $black !important;

      path {
        fill: $black !important;
      }
    }
  }

  &.is-white {
    background-color: $white;
    border-color: $white;

    .general-text {
      color: $black;
    }

    &::before {
      background: $brown;
    }

    &:hover {
      border-color: $white;

      .general-text {
        color: $white;
      }
    }
  }

  &.after-is-blue {
    background-color: $brown;
    border-color: $brown;

    .general-text {
      color: $white;
    }

    &::before {
      background: $blue;
    }

    &:hover {
      border-color: $black;

      .general-text {
        color: $black;
      }
    }
  }
}
