.developer-section {
  position: relative;

  .developer-image-block {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    .developer-image {
    }
  }

  .developer-card-block {
    background: rgba(212, 209, 202, 0.2);
    backdrop-filter: blur(30px);

    display: flex;
    width: vw-laptop(620);
    padding: vw-laptop(60);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vw(40);
    margin: auto;

    @media screen and (min-width: 1512px) {
      width: 620px;
      padding: 60px;
    }

    .developer-title {
      @include font-h2;
      color: $brown;
    }

    .developer-icon {
      margin: 0 auto;
      fill: $brown;
    }

    .developer-logo-block {
      width: vww(126);
      height: 100%;

      .developer-logo {
        width: 100%;
        height: 100%;
        display: block;
        object-position: cover;
      }
    }

    .developer-text {
      @include font-h4-regular;
      color: $black;
      text-align: center;
    }

    .developer-link {
    }
  }
}
