extends /../index.pug

block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'id-page-construction-progress-single'

block meta
  title= title_page
  meta(name='description', content='')

block scripts
  script(type="module", src='/src/pages/progress-single/progress-single.js')

block header
  +header() 

block content
  include ./progress-single-section/progress-single-section.pug
  include ./progress-more-cards-section/progress-more-cards-section.pug
  +contacts()

block footer
  +footer()

