.docs-item {
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
  padding: vw(40);

  @include to(1023px) {
    padding: 40px;
  }

  &:hover {
    .docs-link {
      .docs-title-image-block {
        .docs-image {
          transform: scale(1.05);
        }
        .docs-item-title span {
          text-decoration-color: rgba($black, 1);
        }
      }
    }

    .docs-icon {
      .icon-line {
        transform: scaleX(2.5);
      }
      .icon-arrowhead {
        transform: translateX(-8px);
      }
    }
  }

  .docs-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .docs-title-image-block {
      display: flex;
      align-items: center;
      gap: vw(40);

      @include to(1023px) {
        gap: 40px;
      }

      @include to(767px) {
        gap: 28px;
      }

      .docs-image-block {
        aspect-ratio: 90/124;
        max-width: vw(90);
        max-height: vw(124);

        @include to(1023px) {
          max-width: 90px;
          max-height: 124px;
        }

        @include to(767px) {
          display: none;
        }

        .docs-image {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center;
          transition: $transition;
        }
      }

      .docs-item-title {
        @include font-h4-regular;
        color: $black;
        margin: 0;
        max-width: vw(604);
        word-break: break-word;

        @include to(1023px) {
          max-width: 65%;
        }

        @include to(767px) {
          max-width: 100%;
        }

        span {
          display: inline;
          text-decoration: underline;
          text-decoration-color: rgba($black, 0);
          text-underline-offset: 4px;
          text-decoration-thickness: 1px;
          transition: $transition;
        }
      }
    }

    .docs-icon {
      width: 24px;
      height: 24px;
      color: $black;
      transform: rotate(145deg);
      overflow: visible;

      .icon-line {
        transition: $transition;
        transform-origin: center;
      }

      .icon-arrowhead {
        transition: $transition;
      }
    }
  }
}
