.panorama-section {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: vw(100);

  .panorama-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: vw(20);
    position: relative;
    padding: 0 vw(20);

    .panorama-title {
      @include font-h1;
      color: $brown;
    }

    .panorama-sign-block {
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      width: vw(900);

      .panorama-sign {
        fill: $blue;
      }
    }
  }

  .panorama-iframe {
    width: 100%;
    flex-grow: 1;
    min-width: 0;
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
      display: block;
      border: none;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;
    }

    &.is-active::after {
      display: none;
    }
  }
}
