.contacts-section {
  padding: 0 vw(20) vw(40);
  height: auto;
  display: grid;
  grid-template-columns: 1.75fr 1.5fr 1fr;

  @include to(1023px) {
    grid-template-columns: minmax(0, 1fr);
    padding: 0 20px 40px;
  }

  .contacts-block {
    padding: vw(30);
    border: 1px solid $black;

    @include to(1023px) {
      padding: 60px;
    }

    @include to(767px) {
      padding: 40px 20px;
    }

    @media screen and (min-width: 1280px) {
      padding: vw(30);
    }

    .contacts-title {
      @include font-h2;
      color: $brown;
      margin-bottom: vw(62);

      @include to(1023px) {
        margin-bottom: 40px;
      }
    }

    .address-list {
      display: flex;
      align-items: stretch;
      gap: vw(40);
      margin: 0;
      padding: 0;
      list-style: none;

      @include to(1023px) {
        gap: 40px;
      }

      @include to(767px) {
        flex-direction: column;
      }

      .address-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: vw(40);

        .address-title,
        .schedule-title,
        .phone-email-title,
        .social-title {
          @include font-h4-semibold;
          color: $brown;
          margin-bottom: vw(10);

          @include to(1023px) {
            margin-bottom: 10px;
          }
        }

        .social-block {
          margin-top: vw(40);
        }

        .schedule-phone-email-block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: vw(40);
          margin-top: vw(40);

          @include to(1023px) {
            gap: 40px;
            margin-top: 40px;
          }
        }

        .address-icon-text-block,
        .schedule-icon-text-block,
        .phone-block,
        .email-block,
        .social-link {
          display: flex;
          align-items: center;
          gap: vw(16);

          @include to(1023px) {
            gap: 16px;
          }

          svg {
            width: vw-laptop(24);
            height: vw-laptop(24);
            fill: $brown;
            flex-shrink: 0;

            @include from(1512) {
              width: 24px;
              height: 24px;
            }

            @include to(1023px) {
              width: 24px;
              height: 24px;
            }
          }

          p,
          a,
          span {
            @include font-body;
            color: $black;
            text-decoration: none;
          }
        }

        .schedule-icon-text-block {
          align-items: flex-start;

          .schedule-text-block {
            display: flex;
            flex-direction: column;
            gap: vw(6);

            @include to(1023px) {
              gap: 6px;
            }
          }
        }

        .address-link {
          display: inline-block;
          margin-top: vw(10);
          padding: vw(16) vw(28);

          @include to(1023px) {
            margin-top: 10px;
            padding: 16px 28px;
          }
        }
      }

      .contacts-social-list {
        display: flex;
        flex-direction: column;
        gap: vw(12);
        padding: 0;
        list-style: none;

        @include to(1023px) {
          gap: 12px;
        }

        .contacts-social-item {
          .contacts-social-link {
            display: block;
            text-decoration: none;

            .contacts-social-link-content {
              position: relative;
              overflow: hidden;
              display: flex;
              align-items: center;
              height: vw-laptop(24);

              @include from(1512) {
                height: 24px;
              }

              @include to(1023px) {
                height: 24px;
              }
            }

            .contacts-social-item-inner {
              display: flex;
              align-items: center;
              gap: vw(16);
              width: 100%;
              height: 100%;
              transition: $transition;

              @include to(1023px) {
                gap: 10px;
              }

              .contacts-social-icon {
                width: vw-laptop(24);
                height: vw-laptop(24);
                fill: $brown;
                flex-shrink: 0;

                @include from(1512) {
                  width: 24px;
                  height: 24px;
                }

                @include to(1023px) {
                  width: 24px;
                  height: 24px;
                }
              }

              .contacts-social-text {
                @include font-body;
                color: $black;
              }
            }
          }
        }
      }
    }
  }

  .contacts-map-block {
    position: relative;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;

    @include to(1023px) {
      min-height: 650px;
    }

    @include to(767px) {
      min-height: 420px;
    }

    iframe {
      width: 100%;
      height: 99%;
      display: block;
      border: none;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;
    }

    &.is-active::after {
      display: none;
    }
  }

  .contacts-form-block {
    background-color: $blue;
    padding: vw(30) vw(56);
    position: relative;

    @include to(1023px) {
      padding: 100px 60px;
    }

    @include to(767px) {
      padding: 40px 28px;
    }

    .form-title {
      @include font-h3;
      color: $black;
      margin-bottom: vw(12);

      @include to(1023px) {
        @include font-h1;
        text-align: center;
        margin-bottom: 20px;
      }

      @include to(767px) {
        font-size: 36px;
      }
    }

    .form-description {
      @include font-body;
      color: $black;
      margin-bottom: vw(40);

      @include to(1023px) {
        @include font-h4-regular;
        text-align: center;
        max-width: 400px;
        margin: 0 auto 60px;
      }
    }

    .contacts-form-link {
      padding: vw(14) vw(18);

      @include to(1023px) {
        padding: 14px 18px;
        margin: auto;
      }
    }

    .success-popup-block {
      position: absolute;
      inset: 0;
      z-index: 10;
      background-color: $blue;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: vw(30);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: $transition;
      width: 100%;

      .success-popup-title-text-block {
        @include to(1023px) {
          max-width: 100%;
          text-align: center;
        }
      }

      .success-popup-link {
        @include to(1023px) {
          margin: 0 auto;
        }
      }

      &.is-active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .success-popup-title {
        @include to(1023px) {
          font-size: 64px;
        }
      }

      .success-popup-text {
        @include to(1023px) {
          font-size: 20px;
        }
      }

      .popup-sign-block,
      .success-popup-image-block {
        display: none;
      }
    }
  }
}
