.materials-swiper {
  width: 100%;
  overflow: visible;
}

.materials-swiper .swiper-wrapper {
  will-change: transform;
}

.materials {
  height: 100vh;
  position: relative;
  // padding: 112px 24px 0;
  padding-top: vw(100);

  @media screen and (max-width: 767px) {
    // padding: 112px 12px 0;
  }

  // &__title-icon-block {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 8px;
  //   margin-bottom: 8px;
  // }

  &__title {
    @include font-h2;
    color: $brown;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: vw(150);
    transform: translateY(-60%);
    max-width: vw(366);
    z-index: 10;
  }

  .adv-counter {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    gap: vw(60);
    position: absolute;
    left: calc(50% - vw(470));
    top: calc(vw(760) - vw(60));
    z-index: 10;
    pointer-events: none;

    .main-count {
      @include font-huge;
      $gap: 10px;
      color: $white;
      display: flex;
      flex-direction: column;
      gap: $gap;
      height: 1em;
      line-height: 1;
      clip-path: inset(0% -100% 0% -100%);

      span {
        display: block;
        height: 1em;
        transform: translateY(0);
      }

      .next {
        opacity: 0;
      }

      &.is-changing {
        span {
          transition:
            transform 0.8s cubic-bezier(0.36, 1, 0.86, 1),
            opacity 0.8s ease-out;
        }

        .current {
          transform: translateY(calc(-100% - #{$gap}));
        }
        .next {
          transform: translateY(calc(-100% - #{$gap}));
          opacity: 1;
        }
      }
    }

    .total {
      @include font-h3;
      color: $black;
      padding-bottom: 20px;
    }
  }

  .advantages-nav-buttons {
    right: -15%;
    top: unset;
    transform: translateY(60%);
  }

  .advantages-text-block {
    position: absolute;
    top: 45%;
    left: 72%;
    max-width: vw-laptop(348);

    .swiper-wrapper {
      .swiper-slide {
        .advantages-text {
          @include font-h3;
          color: $brown;
        }
      }
    }
  }

  .materials-title-info-text {
    width: 330px;
  }

  &__description {
    font-family: "Inter Tight";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: none;
    text-align: center;
    color: #6c7a88;
    margin-bottom: 20px;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: start;
    height: calc((480 / 1512) * 100vw);

    @media (max-width: 1023px) {
      height: calc((420 / 1023) * 100vw);
    }

    @media (max-width: 767px) {
      height: 78vw;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: vw(380);
      height: vw(380);
      // background-color: rgba(26, 30, 33, 0.8);
      // backdrop-filter: blur(20px);
      cursor: pointer;
      transition:
        width 0.8s ease-in-out,
        height 0.8s ease-in-out;
      will-change: width, height;

      // @media (max-width: 1023px) {
      //   width: 140px;
      //   height: 240px;
      // }

      // @media (max-width: 767px) {
      //   width: 80px;
      //   height: 160px;
      // }

      &__image-block {
        // border-radius: 12px;
        overflow: hidden;
        flex-grow: 1;
      }

      &.swiper-slide-active {
        width: vw(760);
        height: vw(760);
      }

      .materials__list__item__center-text-block {
        opacity: 0;
        pointer-events: none;
        height: 0;
      }

      .materials__list__item__title {
        display: block;
      }

      &.swiper-slide-active {
        // border-radius: 20px;
      }

      // &::before,
      // &::after {
      //   position: absolute;
      //   content: "";
      //   left: -10px;
      //   width: 110%;
      //   height: 100%;
      //   max-height: 106px;
      //   z-index: 2;
      //   pointer-events: none;
      //   opacity: 0;
      //   transition: opacity 0.4s ease-in-out;
      // }

      // &.swiper-slide-active {
      //   &::before,
      //   &::after {
      //     opacity: 0.8;
      //   }

      //   &::before {
      //     top: 0;
      //     background: linear-gradient(180deg, #fafbfe 0%, rgba(26, 30, 33, 0) 100%);
      //   }

      //   &::after {
      //     bottom: 0;
      //     background: linear-gradient(0deg, #fafbfe 0%, rgba(26, 30, 33, 0) 100%);
      //   }
      // }

      &:hover {
        .materials__list__item__image {
          // transform: scale(1.05);
        }
      }

      &__image-block {
        // border-radius: 12px;
        overflow: hidden;
        height: 100%;
      }

      &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.8s ease-in-out;
      }

      &__title {
        font-family: "Inter Tight";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-align: center;
        padding: 12px;
        color: #fafbfe;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
          font-size: 10px;
          padding: 8px 4px;
          line-height: 1.2;
        }
      }
    }
  }

  // ACTIVE SLIDE
  .swiper-slide-active {
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease-in-out;

    .materials__list__item__title {
      display: none;
    }

    .materials__list__item__image-block {
      flex-grow: 1;
      // border-radius: 20px;
    }

    .materials__list__item__center-text-block {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      z-index: 3;
      pointer-events: all;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.3s;
    }

    .materials__list__item__tags-list {
      font-family: "Inter Tight";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #1a1e21;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 8px;
      max-width: fit-content;

      @media (max-width: 767px) {
        gap: 8px;
        margin-bottom: 4px;
        flex-wrap: wrap;
      }
    }

    .materials__list__item__tags-item {
      display: flex;
      align-items: center;
      gap: 8px;

      &:not(:last-child)::after {
        content: "•";
        margin-left: 8px;
        color: currentColor;
        font-size: 0.5em;
      }
    }

    .materials__list__item__tags-text {
      font-family: "Inter Tight";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #1a1e21;

      @media (max-width: 767px) {
        font-size: 3vw;
      }
    }

    .materials__list__item__center-subtitle {
      font-family: "Inter Tight";
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      color: #1a1e21;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        font-size: 3.5vw;
        margin-bottom: 8px;
        line-height: 1.3;
      }
    }

    .materials__list__item__center-link {
      font-family: "Inter Tight";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: #fafbfe;
      padding: 8px;
      max-width: fit-content;
      text-decoration: none;
      color: #1a1e21;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        width: 209%;
        height: 200%;
        position: absolute;
        top: -20%;
        left: -215%;
        -webkit-transform: skew(30deg);
        -ms-transform: skew(30deg);
        transform: skew(30deg);
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        transition:
          transform 0.4s cubic-bezier(0.3, 1, 0.8, 1),
          -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        background: #919298 !important;
      }

      span,
      svg {
        position: relative;
        z-index: 2;
      }

      &:hover {
        background-color: #fafbfe;

        &::after {
          transform: translate3d(100%, 0, 0) skew(25deg);
        }

        span {
          color: #1a1e21;
        }
      }

      @media (max-width: 767px) {
        font-size: 3vw;
        padding: 8px;
        gap: 4px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .materials__list__item__image-block {
      // border-radius: 20px;
    }

    .materials__list__item__scale-info-block {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 8px;
    }

    .materials-link-info-block {
      display: block;

      svg path {
        fill: #d9d9d9;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .materials-link-info-text {
      width: 240px;
    }

    .materials__list__item__center-text {
      font-family: "Inter Tight";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #1a1e21;
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        path {
          fill: rgba(108, 122, 136, 0.88);
        }
      }

      @media (max-width: 767px) {
        font-size: 3vw;
        margin-bottom: 4px;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    .materials__list__item__center-title {
      font-family: "Inter Tight";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-transform: none;
      color: #1a1e21;

      @media (max-width: 1023px) {
        font-size: 3vw;
        line-height: 1.2;
      }

      @media (max-width: 767px) {
        font-size: 5vw;
        line-height: 1.2;
      }
    }
  }
}

.materials-layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background: rgba(26, 29, 33, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    visibility 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.materials-popup {
  position: relative;
  background-color: #fafbfe;

  &--modal {
    display: flex;
    gap: 80px;
    width: 90vw;
    background-color: #fafbfe;
    height: auto;
    max-height: 90vh;
    overflow: hidden;

    @media (max-width: 1280px) {
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }

    .materials-layout-close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      z-index: 10;
      transition: 0.3s ease-in-out;
      stroke: #fafbfe;
      fill: #fafbfe;

      @media screen and (min-width: 1023px) {
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
  }

  .materials-content-block {
    display: flex;
    width: 100%;
    flex: 1 1 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }
  }

  &__images-block {
    width: 70%;
    aspect-ratio: 1052/772;
    position: relative;
    flex-shrink: 0;

    @media (max-width: 1280px) {
      width: 100%;
      aspect-ratio: 4/3;
      height: 60vh;
    }

    &__image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    .swiper {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1280px) {
        height: 60vh;
        aspect-ratio: 4/3;
      }
    }

    .materials-popup-nav-buttons {
      position: absolute;
      bottom: 4px;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }

    .materials-popup-swiper-pagination {
      font-family: "Inter Tight";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: none;
      display: flex;
      gap: 4px;
      align-items: center;
      color: #fafbfe;
    }
  }

  &__text-content {
    padding: calc((80 / 1512) * 100vw);
    width: 30%;
    overflow: auto;

    @media screen and (max-width: 1280px) {
      width: 100%;
      padding: 40px 20px;
      flex-grow: 1;
    }

    &__title-block {
      font-family: "Inter Tight";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 40px;
      color: #fafbfe;

      @media screen and (max-width: 1280px) {
        text-align: center;
      }
    }

    &__title-item {
      font-family: "Inter Tight";
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      color: #fafbfe;
      margin-bottom: 12px;
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      gap: 8px;
      align-items: center;
      margin-bottom: 12px;

      &__tags-item {
        display: flex;
        align-items: center;

        &:not(:last-child)::after {
          content: "•";
          margin-left: 8px;
          color: #fafbfe;
          font-size: 0.5em;
        }
      }

      &__text {
        font-family: "Inter Tight";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        white-space: nowrap;
        color: #fafbfe;
      }
    }

    &__lear-more-button,
    &__video-link {
      font-family: "Inter Tight";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: #fafbfe;
      padding: 8px 12px;
      max-width: fit-content;
      text-decoration: none;
      color: #1a1e21;
      overflow: hidden;
      position: relative;
      margin-bottom: 40px;
      cursor: pointer;

      &::after {
        content: "";
        width: 209%;
        height: 200%;
        position: absolute;
        top: -20%;
        left: -215%;
        -webkit-transform: skew(30deg);
        -ms-transform: skew(30deg);
        transform: skew(30deg);
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        transition:
          transform 0.4s cubic-bezier(0.3, 1, 0.8, 1),
          -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        background: #919298 !important;
      }

      span,
      svg {
        position: relative;
        z-index: 2;
      }

      &:hover {
        background-color: #fafbfe;

        &::after {
          transform: translate3d(100%, 0, 0) skew(25deg);
        }

        span {
          color: #1a1e21;
        }
      }
    }

    &__lear-more-button {
      border: none;
      margin-bottom: 0;
      padding: 12px 24px;
    }

    &__description-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 40px;
    }

    &__description {
      font-family: "Inter Tight";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #fafbfe;
    }
  }
}
