section.form-section  
  .form-left-block
    h2.form-title Запишись на перегляд 
    .form-logo-block
      img.form-logo(src="/images/logo.svg", alt="Logo")
    p.form-text Побач архітектуру та середовище наживо

  .form-right-block
    +form
  
    .form-image-block 
      img.form-image(src="/images/form-section/form-img-without-sky.jpg" alt="Build" loading="lazy")
  