mixin button-prev(customClass = '')
  button(type="button" class=`button-prev ${customClass}` )&attributes(attributes)
    svg(width="24" height="24" class="nav-button-icon-prev")
      use(href="/images/icons.svg#icon-arrow")