extends /../index.pug

block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'id-page-construction-progress'

block meta
  title= title_page
  meta(name='description', content='')

block scripts
  script(type="module" src="/src/pages/construction-progress/construction-progress.js")

block header
  +header() 

block content
  include ./progress-catalog/progress-catalog.pug
  +contacts()

block footer
  +footer()


