section.hero-section 
  .hero-grid 
    .hero-video-block
      video(autoplay="" muted="" controls="" loop="" playsinline="").hero-video
        source(src="/video/hero-video.mp4")
    
    .hero-text-block
      .hero-logo-block
        img.hero-logo(src="/images/logo.svg", alt="Logo")
        p.hero-text Понад усім.
      a.hero-link(href="#about") 
        .hero-icon-container
          .hero-icon-wrapper
              svg(width="24" height="24").hero-icon
                use(href='/images/icons.svg#icon-arrow') 
              svg(width="24" height="24").hero-icon.is-secondary
                use(href='/images/icons.svg#icon-arrow')
        span.hero-link-text Гортай
    
