section.hero-section(id="hero")
  .hero-grid 
    .hero-video-block
      video(autoplay="" muted="" controls=false loop="" playsinline="").hero-video
        source(src="/video/hero-video.mp4")
    
    .hero-text-block
      .hero-text-block__bg 
      .hero-text-block__content
        .hero-logo-block
          .hero-logo-clip
            img.hero-logo(src="/images/logo.svg", alt="Logo")
          p.hero-text Понад усім.

      .hero-desc-block.hide-on-desktop
        p.hero-desc Житловий квартал бізнес-класу на найвищій точці Вінниці з панорамними видами на місто та чарівний фонтан “Roshen”.
        +general-btn({href: '/plannings.html', text: 'Переглянути усі планування',customClass:"hero-plannings-link"})

      a.hero-link(href="#about").hide-on-mobile
        .hero-icon-container
          .hero-icon-wrapper
              svg.hero-icon
                use(href='/images/icons.svg#icon-arrow') 
              svg.hero-icon.is-secondary
                use(href='/images/icons.svg#icon-arrow')
        span.hero-link-text Гортай
    
