.progress-single {
  padding-bottom: vw(200);
  padding-top: 100px;
  min-height: 100vh;

  @include to(1023px) {
    padding-bottom: 140px;
  }

  @include to(767px) {
    padding-top: 60px;
  }

  .back-link {
    @include to(1023px) {
      top: 20px;
      left: 8px;

      span {
        display: none;
      }
    }
  }

  .progress-single-grid {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    width: 100%;
    height: vw(802);
    margin: 0;
    position: relative;
    z-index: 1;
    border-right: 1px solid $black;
    border-left: 1px solid $black;

    @include to(1023px) {
      grid-template-columns: 1fr;
      height: auto;
      row-gap: 20px;
    }
  }

  .progress-single-visual {
    height: 100%;
    background-color: $white;
    overflow: hidden;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    position: relative;

    @include to(1023px) {
      border-bottom-color: transparent;
      height: vw-tablet(620);
      overflow: hidden;
    }

    @include to(767px) {
      height: 520px;
    }

    .progress-single-swiper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 vw(100);

        @include to(1023px) {
          padding: 0;
        }
      }

      .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .progress-single-nav {
    display: flex;
    align-items: center;
    gap: vw(8);
    position: absolute;
    z-index: 10;

    bottom: -20px;
    left: 38%;
    transform: translateX(-50%);

    @include to(1023px) {
      position: relative;
      transform: none;
      left: auto;
      bottom: auto;
      justify-content: center;
    }

    .progress-single-button-prev,
    .progress-single-button-next {
      width: vw(64);
      height: vw(64);
      background-color: $white;
      border: 1px solid $black;
      transition: all 0.4s ease-in-out;

      @include to(1023px) {
        width: 64px;
        height: 64px;
      }

      @include to(767px) {
        width: 48px;
        height: 48px;
      }

      svg {
        fill: $black;
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        background-color: $brown;
        border-color: $brown;

        svg {
          fill: $white;
        }
      }

      &.swiper-button-disabled {
        opacity: 1;
        pointer-events: auto;
        background-color: $white;
        border: 1px solid $black;

        svg {
          fill: $black;
        }
      }
    }
  }

  .progress-text-block {
    padding: vw(40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $black;

    @include to(1023px) {
      padding: 40px;
      border-top: 1px solid $black;
    }

    @include to(767px) {
      padding: 20px;
    }

    .construction-date {
      display: flex;
      flex-direction: column;
      gap: vw(10);
      margin-bottom: vw(40);

      @include to(1023px) {
        gap: 10px;
        flex-direction: row;
        margin-bottom: 40px;
      }

      .progress-month-year-block {
        display: flex;
        align-items: center;
        gap: vw(8);

        @include to(1023px) {
          gap: 8px;
        }
      }

      .progress-day {
        @include font-h2;
        color: $brown;
      }

      .progress-month,
      .progress-year {
        @include font-h4-regular;
        color: $black;
      }
    }

    .progress-info-content {
      color: $black;

      .progress-text {
        @include font-body;
        margin-bottom: vw(20);

        @include to(1023px) {
          margin-bottom: 20px;
        }
      }

      .progress-list {
        margin: vw(20) 0;
        padding-left: vw(20);

        @include to(1023px) {
          margin: 20px 0;
          padding-left: 20px;
        }

        .progress-item {
          @include font-body;
          margin-bottom: vw(10);
          position: relative;

          &::before {
            position: absolute;
            content: "•";
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .progress-single-link {
      width: max-content;

      @include to(1023px) {
        margin-top: 40px;
      }

      @include to(767px) {
        margin-top: unset;
      }
    }
  }
}
