extends /../index.pug

block variable
  -
    var title_page = 'Сторінку не знайдено'
    var id_page = 'id-page-not-found'

block meta
  title= title_page
  meta(name='description', content='')

block header
  +header() 

block content
  include ./not-found-section/not-found-section.pug
  +contacts()

block footer
  +footer()

block scripts
  script(type="module" src="/src/pages/not-found/not-found.js")
