-
  const stats = [
    { 
      title: '11',
      text: 'Окремих будинків', img: 'stats-img-1.jpg',
      alt: 'Genplan' },
    { 
      title: '6-9',
      text: 'Поверхів (без висотної перевантаженості)',
      img: 'stats-img-2.jpg',
      alt: 'Build' },
    { 
      title: '2 283',
      text: 'Квартири',
      img: 'stats-img-3.jpg',
      alt: 'Interior' },
    { 
      title: '≈ 4 500 +',
      text: 'мешканців = гарантований трафік для комерції',
      img: 'stats-img-4.jpg',
      alt: 'Park' },
    { 
      title: '2,7-4 м',
      text: 'Висота стель',
      img: 'stats-img-5.jpg',
      alt: 'Chandeliers' },
    { 
      title: '2.7 га',
      text: 'Озеленення та ландшафтного дизайну',
      img: 'stats-img-6.jpg',
      alt: 'Playground' },
    { 
      title: '1,1 га',
      text: 'W-Діагональ — 420 метрів міського життя',
      img: 'stats-img-7.jpg',
      alt: 'Cafe' },
    { 
      title: '160',
      text: 'міський заклад дошкільної освіти на 160 місць',
      img: 'stats-img-8.jpg',
      alt: 'Child draws in notebook' },
    { 
      title: '5 850 м²',
      text: 'Торговельний центр',
      img: 'stats-img-9.jpg',
      alt: 'A woman\'s hands holding a cloth' },
    { 
      title: '36%',
      text: 'Кварталу — зелені зони',
      img: 'stats-img-10.jpg',
      alt: 'Park paths against the background of trees' },
    { 
      title: '120 м²',
      text: 'Сучасна бібліотека-коворкінг',
      img: 'stats-img-11.jpg',
      alt: 'Woman working on laptop' },
    { 
      title: '4',
      text: 'Облаштованих укриття',
      img: 'stats-img-12.jpg',
      alt: 'Bench' }
  ]

section.stats-section(id="statistics")
  .stats-title-block
    h2.stats-title ЖК у цифрах
    .stats-sign-block 
      img(src="/images/panorama/panorama-sign.svg", alt="Sign image").stats-sign
  
  ul.stats-list
    each item in stats
      li.stats-item
        h3.stats-title= item.title
        p.stats-text= item.text
        .stats-image-block 
          img.stats-image(src=`/images/stats/${item.img}` alt=item.alt loading="lazy")