.single-flat-slider {
  padding: vw(20);

  @include to(1023px) {
    padding: 0;
  }

  .swiper-container {
    padding-top: 40px;
    padding-bottom: 40px;

    @include to(1024px) {
      padding-top: 20px;
      padding-bottom: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include font-h2;
    color: $brown;
    padding: 0 20px;

    @include to(767px) {
      @include font-mob-h3;
    }
  }

  .single-flat-slider-nav {
    position: static;
  }
}
