include ../../../shared/components/general-btn/general-btn.pug

section.location-section 
  .location-image-block 
    img(src="/images/location/location-fountain.jpg", alt="Fountain").location-image

  .location-map-block 
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.4159321231073!2d24.691274999999997!3d48.9074673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c1371d639fa1%3A0x6e4a9a797635a489!2z0LLRg9C70LjRhtGPINCT0LXRgtGM0LzQsNC90LAg0JTQvtGA0L7RiNC10L3QutCwLCAyNywg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQuiwg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3NjAwMA!5e0!3m2!1suk!2sua!4v1773398799680!5m2!1suk!2sua"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  .location-title-block 
    h2.location-title Локація
  
    svg(width="70" height="16").location-icon
      use(href="/images/icons.svg#icon-sign")
    
    p.location-text Житловий квартал бізнес-класу у найвищій точці міста з панорамними краєвидами та відкритим променадом, протяжністю у 420 метрів, що проходить крізь увесь простір, поєднуючи зелені зони, галерею крамниць та ресторанів.

    +general-btn('https://maps.app.goo.gl/9ep2uBZKmH45dyaY7', 'Відкрити у навігаторі', 'location-link is-white')(target="_blank")

    .location-build-block 
      img(src="/images/location/fountain-build.png", alt="Build").location-build-image
    