.nav-buttons-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);

  .button-prev,
  .button-next {
    background: $brown;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: vw(20);
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    svg {
      fill: $white;
      transition: all 0.4s ease-in-out;
    }

    &.button-prev svg {
      transform: rotate(90deg);
    }
    &.button-next svg {
      transform: rotate(-90deg);
    }

    &:hover {
      background-color: $white;
      svg {
        fill: $black;
      }
    }
  }
}
