.genplan-section {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;

  @include to(1023px) {
    position: static;
    height: auto;
  }

  .genplan-image-block {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include to(1023px) {
      height: 610px;
    }

    @include to(767px) {
      height: 400px;
    }

    .genplan-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @include to(1023px) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
      }

      @include to(409px) {
        left: 68%;
      }

      @media screen and (min-width: 410px) and (max-width: 600px) {
        left: 63%;
      }

      @media screen and (min-width: 601px) and (max-width: 710px) {
        left: 60%;
      }

      @media screen and (min-width: 711px) and (max-width: 767px) {
        left: 50%;
      }

      .genplan-image-path {
        stroke: $white;
        fill: rgba($blue, 0);
        stroke-width: 3;
        transition: $transition;
        animation: stroke-pulsation 1.6s infinite cubic-bezier(0, 0, 0.12, 1.02);
        &:hover {
          fill: $blue;
        }

        @keyframes stroke-pulsation {
          0% {
            stroke-width: 2;
          }
          20% {
            stroke-width: 6;
          }
          100% {
            stroke-width: 2;
          }
        }
      }
    }

    .genplan-info-card {
      position: absolute;
      z-index: 10;
      background: $ochre;
      max-width: vw-laptop(200);
      max-height: vw-laptop(250);
      padding: vw-laptop(20);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      top: 55%;
      transition: $transition;
      left: 39%;

      @include from(1512) {
        padding: 20px;
      }

      @include to(1023px) {
        max-width: 200px;
        max-height: 250px;
        padding: 20px;
        top: 50%;
        left: 27%;
      }

      .genplan-info-title {
        @include font-h3;
        color: $black;
        margin-bottom: 10px;
      }

      .genplan-info-text {
        @include font-body;
        color: $brown;
        margin-bottom: 5px;
      }

      .genplan-info-icon {
        display: block;
        fill: $blue;
        margin-bottom: 15px;
      }
    }

    &:has(.genplan-image-path:hover) {
      .genplan-info-card {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .genplan-card-block {
    background-color: $brown;
    padding: vw(40);
    max-width: vw-laptop(320);
    position: absolute;
    top: vw(150);
    left: vw(60);

    @include from(1512) {
      max-width: 320px;
    }

    .genplan-card-icon {
      display: block;
      margin: 0 auto 20px;
    }

    .genplan-card-text {
      @include font-h4-semibold;
      color: $white;
      max-width: 280px;
      text-align: center;
      margin: 0 auto;
    }
  }

  .genplan-sign-image-block {
    position: absolute;
    bottom: vw(-22.5);
    right: vw(-150);
    max-width: vw(780);
    aspect-ratio: 780 / 424;

    .genplan-sign-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .genplan-title-block {
    .genplan-title {
      position: absolute;
      @include font-h1;
      color: $white;
      right: vw(60);
      bottom: vw(216);
    }

    .genplan-text {
      position: absolute;
      @include font-h3;
      color: $white;
      max-width: vw(415);
      right: vw(30);
      z-index: 3;
      bottom: vw(100);
    }
  }

  .tab-genplan-cards-sign-block {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: vw-tablet(60);
    padding: 60px 20px;
    position: relative;
    margin-bottom: 60px;

    @include to(480px) {
      padding: 20px 20px 60px;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }

    .genplan-tab-card-block {
      background-color: $brown;
      padding: 40px 20px;
      max-width: 320px;

      .genplan-tab-card-icon {
        display: block;
        margin: 0 auto 40px;
      }

      .genplan-tab-card-text {
        @include font-h4-semibold;
        color: $white;
        max-width: 280px;
        text-align: center;
        margin: 0 auto;
      }
    }

    .genplan-tab-sign-image-block {
      aspect-ratio: 630 / 307;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      fill: $ochre;

      @include to(767px) {
        aspect-ratio: 543 / 264;
        max-height: 300px;
        max-width: 400px;
        right: -20px;
      }

      .genplan-tab-sign-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .genplan-tab-title-block {
      margin-right: 60px;

      @include to(767px) {
        margin-right: 0;
      }

      .genplan-tab-title {
        @include font-h1;
        color: $black;
        max-width: 292px;

        @include to(767px) {
          text-align: center;
          margin-bottom: 8px;
        }
      }

      .genplan-tab-text {
        @include font-h3;
        color: $black;
        max-width: 292px;

        @include to(767px) {
          text-align: center;
        }
      }
    }
  }
}
