-
  const genplan_info = [
    { text: 'Секція: 12' },
    { text: 'Квартир: 250' },
    { text: 'Поверхів: 8' },
    { text: 'Площі  від: 247.4 м²' }
  ]

section.genplan-section(id="genplan")
  .genplan-image-block 
    <svg class="genplan-image" xmlns="http://www.w3.org/2000/svg" width="1920" height="900" fill="none" viewBox="0 0 1920 900">
      <g style="pointer-events:none">
      <path fill="url(#a)" d="M0 0h1920v900H0z"/>
      <path fill="url(#b)" d="M1920 325c-194.36 0-386.81 14.873-566.37 43.769-179.56 28.897-342.72 71.251-480.148 124.645-137.431 53.393-246.447 116.781-320.824 186.543C478.281 749.719 440 824.49 440 900h1480V325Z"/>
      <path fill="url(#c)" d="M1920 900H0V0h1920v900ZM985.767 74v2.303H966.95l-14.209 82.501-3.456-1.152c0-2.43-.998-7.291-4.992-7.291-3.686 0-6.4 1.536-7.296 2.303-.896.767-2.918 1.842-3.84 0-1.152-2.302-3.071-3.453-3.84-2.303-.384-4.221-.768-7.291-4.608-7.291s-4.608 2.687-4.608 4.606c-3.073-.768-16.512-3.07-18.048 2.685-1.92 1.152-6.144 1.919-5.376 6.524-3.072 1.918-3.073 8.825 1.151 10.36-.922 1.228-3.712 1.279-4.992 1.151-.384-2.558-1.766-7.673-4.224-7.673-1.536 0-2.944 4.348-3.456 6.522h-1.536c.512-3.709.691-11.128-2.688-11.128-4.224 0-6.144 4.989-6.144 12.279-3.072 0-6.912-.766-6.912 3.838h-7.681l-1.92-50.652h-6.144v-13.431l-4.224-3.453v-2.302h-10.752l-1.536-1.152h-36.097l-23.808 64.851c-2.048-1.151-6.452-3.454-7.681-3.454-2.304-8.058-4.608-11.512-7.296-11.512-2.688 0-4.992 8.825-4.992 11.512-3.84 1.151-9.216 3.453-9.984 5.372-1.536-6.14-6.912-18.419-10.368-18.803-2.304-4.605-5.376-6.523-7.296-2.302-2.688-1.535-7.297 4.221-5.761 12.663-3.072 0-9.984-2.302-13.056 2.302-4.608-2.302-10.369.384-10.753 3.838-6.912-1.919-11.136-3.454-16.128 2.302-6.528 2.686-11.136 3.07-16.896 3.838-5.76.767-12.288 1.918-13.824 3.837-1.844-6.14-3.072-8.443-3.456-8.827l-2.304-10.744-1.92-23.791-30.337-1.534-1.92-2.687h-7.297l-10.368 1.152-40.32 69.454L555.5 234H540l-2 5h-6.5l-57.617 105.527-27.265 49.501v5.372h4.609v3.07l-3.073 6.139.411 1.536h2.662v2.301l-1.92 4.99 3.071 26.092-21.12-.767-39.169 67.536 1.152 5.756h-4.224l-16.128 28.011 4.992 17.269 4.223 35.303-18.135 35.798c-7.82 15.436-5.403 34.059 6.148 46.942 58.681 65.445 150.808 167.589 162.904 178.577 16.896 15.349 62.977 38.756 104.833 11.512 41.858-27.245 267.654-176.131 314.887-210.282 41.599-30.078 367.349-272.668 450.249-334.836 8.86-6.641 7.75-22.08-3.26-23.181.38-7.291 1.53-10.744-3.46-11.895-4.99-1.152-1.15-9.21-6.14-9.593-3.07-.307-4.1 3.965-4.23 6.139-1.4-1.151-4.07-2.762-3.45 0-4.61-2.686-8.07-3.454-13.44-3.838.61-6.14 3.58-35.557 4.99-49.5l7.68-6.139 2.3-21.873-59.52-17.268-6.91 3.454v-21.105l-28.8-13.047-8.45 3.07v-6.139l-18.43-9.21-11.91 3.838-24.96-11.129-22.27 5.757c-1.41-.512-4.84-1.228-7.3 0-4.91-2.15-31.74-14.966-44.54-21.106l-5.38 1.535-6.14-3.07-2.69 1.535.82 3.07-3.89 1.918v4.222l-10.37-4.989-15.74 6.907v10.744l-8.07 2.159v3.214l-11.52 4.221-1.15 16.884-48-11.896h-17.28V122.35c0-6.523-.77-5.756-3.46-5.756V80.14h-10.75l-1.03-3.837h-16.25L989.373 74h-3.606Z"/>
      </g>
      <g style="pointer-events:auto; cursor: pointer;">
      <a href="/plannings.html">
        <path class="genplan-image-path" d="M741.545 453.867v7.365h7.879v-1.5c0-.57.184-1.459.692-2.163.453-.627 1.222-1.203 2.687-1.203 1.036 0 1.753.194 2.268.488.503.286.923.729 1.27 1.421.741 1.478 1.06 3.893 1.06 7.54v1.5h1.5c.454 0 1.274.383 2.07 1.706.757 1.259 1.309 3.114 1.309 5.31 0 1.659-.527 3.471-1.247 5.117-.715 1.636-1.57 2.995-2.111 3.714l-.355.472.062.587 4.871 46.155v14.163l-9.843 19.793-1.078 2.168h3.699l-4.547 7.199-.231.367v13.564l-5.329 10.174-.171.327v6.963l-6.796 11.65-.18.31-.021.356-1.094 18.288-10.717 19.067-.192.342v8.51l-2.816 5.164-.198.363.015.411.453 12.45-7.12 13.02-.184.337v7.298l-7.134 13.047-.159.29-.022.33-1.163 17.39-6.548 3.265-.83.414v8.547l-15.066 8.092-.023.012-.022.014-14.637 8.515-.039.023-.037.025-10.978 7.299-10.938 7.273-20.703 12.147-.006.004-.007.004-13.109 7.863-.009.005-.01.006-34.437 21.319-10.248 5.679-1.732-.865-.777-.387-.723.48-10.206 6.786-47.34-27.15-15.626-119.888 35.675-18.976.034-.018.032-.019 18.296-10.95.73-.436v-10.996l9.519-6.329 11.386 6.812.748.448.76-.429 36.592-20.682.761-.431v-10.974l10.747-6.431 3.904 2.041 1.582.827.542-1.7 12.428-38.927.072-.222v-10.942l2.018-6.04h4.821l.375-.95 13.417-34.064.104-.265v-10.993l2.019-6.04h3.609l.37-.96 6.099-15.816.1-.26v-10.988l2.019-6.04h5.3v-2.433h6.805l.391-.908 3.25-7.564 52.419 2.323Z"/>
      </a>
      </g>
      <defs>
        <radialGradient id="b" cx="0" cy="0" r="1" gradientTransform="matrix(0 575 -1480 0 1920 900)" gradientUnits="userSpaceOnUse">
          <stop stop-opacity=".6"/>
          <stop offset="1" stop-opacity="0"/>
        </radialGradient>
        <linearGradient id="c" x1="960" x2="960" y1="700" y2="0" gradientUnits="userSpaceOnUse">
          <stop stop-color="#F5F6F1" stop-opacity="0"/>
          <stop offset=".6" stop-color="#F5F6F1" stop-opacity=".9"/>
          <stop offset="1" stop-color="#F5F6F1"/>
        </linearGradient>
        <pattern id="a" width="1" height="1" patternContentUnits="objectBoundingBox">
          <use href="#d" transform="matrix(.00035 0 0 .00074 -.213 -.298)"/>
        </pattern>
        <image id="d" width="4096" height="2304" data-name="Wmisto_VIEW_08_GENERAL_FINAL.jpg" href="/images/genplan/Genplan-big.jpg" preserveAspectRatio="none"/>
      </defs>
    </svg>
  
    .genplan-info-card
      h3.genplan-info-title Будинок 1
      svg(width="70" height="16").genplan-info-icon
            use(href="/images/icons.svg#icon-sign")
      
      ul.genplan-info-list
        each item in genplan_info
          li.genplan-info-item
            p.genplan-info-text= item.text

  .genplan-card-block 
    svg(width="70" height="16").genplan-card-icon
      use(href="/images/icons.svg#icon-sign")

    p.genplan-card-text Залиш проблеми внизу – живи і відпочивай понад усім.

  .genplan-sign-image-block
      img(src="/images/genplan/genplan-sign.svg", alt="Sign").genplan-sign-image
  
  .genplan-title-block 
    h2.genplan-title Ти понад усім
    p.genplan-text В центрі подій, у власному ритмі